{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
          <div class="grid_9">

            <a name="initiative"></a>
            <h1>Revitalizing Journalism Education</h1>

            <h2>A national initiative led by five of America's leading research universities with the support of two major foundations will advance the U.S. news business by helping revitalize schools of journalism.</h2>

            <p>The universities will take advantage of the riches of their institutions by integrating the schools of journalism more closely with the entire campus in an effort to better teach, challenge and prepare the next generation of news industry leaders for an increasingly complex world. The initiative will experiment with curriculum and hands-on experience with the hope of creating a national conversation with other schools across the country.</p>

            <p><strong>The Carnegie-Knight Initiative involves three distinct efforts:</strong></p>

            <ol>
              <li><strong>Curriculum Enrichment</strong> that will integrate the schools of journalism more deeply into the life of the university.</li>
              <li><strong>News21 Incubators:</strong> annual national investigative reporting projects overseen by campus professors and distributed nationally through both traditional and innovative media.</li>
              <li><strong>The Carnegie-Knight Task Force</strong>, focusing on research and creating a platform for educators to speak on policy and journalism education issues.</li>
            </ol>

            <!-- <p><a href="#"><img src="{{ MEDIA_URL }}themes/esser/images/content/buttons/more.gif" alt="More..." /></a></p> -->

          </div>

          <hr />

          <div class="grid_9">

            <a name="participants"></a>
            <h1>Participating Universities</h1>

            <h2>In spring 2008, Carnegie and Knight showed their continuing support by expanding their funding for News21 through 2011, allowing the program to grow to eight incubators and four contributing schools.</h2>

            <p>For the summer of 2009, the deans selected a cross-disciplinary topic, loosely described as the American Tapestry: Exploring the Demographics of a Changing Nation. Each of the eight incubator schools determined an aspect of that broad topic, to encourage cross-campus collaboration and to capitalize on each university's strengths through a News21 journalism seminar.</p>

            <p><strong>Incubator Universities, selecting 10 fellows each:</strong></p>

            <ul class="arrows">
              <li>
                <strong><a href="http://asu.news21.com/">Arizona State</a></strong><br />
                <em>Latino America</em>
              </li>
              <li>
                <strong><a href="http://berkeley.news21.com/">Berkeley</a></strong><br />
                <em>Intersections</em>
              </li>
              <li>
                <strong><a href="http://columbia.news21.com">Columbia</strong></a><br />
                <em>The Charter Explosion</em>
              </li>
              <li>
                <strong><a href="http://www.thenewvoters.com">Maryland</a></strong><br />
                <em>The New Voters</em>
              </li>
              <li>
                <strong><a href="http://unc.news21.com/">North Carolina</a></strong><br />
                <em>Powering a Nation</em>
              </li>
              <li>
                <strong><a href="http://northwestern.news21.com/">Northwestern</a></strong><br />
                <em>Urban Youth and the New America</em>
              </li>
              <li>
                <strong><a href="http://usc.news21.com/">Southern California</a></strong><br />
                <em>Southwestern Shifts</em>
              </li>
              <li>
                <strong><a href="http://syracuse.news21.com">Syracuse</a></strong><br />
                <em>The Young and the Wireless</em>
              </li>
            </ul>

<p>
Thirteen fellows from associate schools in the News21 alliance also participated in the incubators. Harvard selected four fellows, and Missouri, Nebraska and Texas each had three fellows. 
</p>
          </div>

<!--          <hr />

          <div class="grid_9">

            <h1>Contributors</h1>

            <p>FELLOWS BIOS</p>

            <p>ADVISORS BIOS</p>

            <p>SUPPORT BIOS</p>

          </div>

          <hr />

          <div class="grid_9">

            <h1>News Partners</h1>

            <p>PARTNER 1</p>

            <p>PARTNER 2</p>

            <p>PARTNER 3</p>

            <p>PARTNER 4</p>

          </div> -->

{% endblock %}
