{% extends "base.html" %}

{% block context_menu %}
<ul id="story-page-list-menu">
    <li><a href="{% url stories_add_page story.id %}">Add Page</a></li>
    <li><a href="">Story Preview</a></li>
    <li><a href="{% url stories_story_list %}">Story List</a></li>
</ul>
{% endblock %}

{% block content %}
<div>
    <div style="background:#cceecc;padding:10px 0 4px 4px">
    {% block tabs_menu %}
        <a href="{% url stories_edit_story story.id %}">Properties</a> | <a href="">Media</a> | <a href="{% url stories_story_pages story.id %}">Pages</a>
    {% endblock %}    
    </div>
    
    {% block main_content %}
    {% endblock %}
    
</div>
{% endblock content%}