{% extends "base.html" %}

{% block title %}{{ story.headline }}{% endblock %}

{% block context_menu %}
<h2>Menu</h2>
<ul id="story-page-list-menu">
    <li><a href="{% url stories_add_page story.id %}">Add Page</a></li>
    <li><a href="">Story Preview</a></li>
    <li><a href="{% url stories_story_list %}">Story List</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>{{ story.headline}}</h1>
    
<ul>
{% for page in story.pages %}
    <li><a href="{% url stories_edit_page page.id %}">Page {{page.pagenum}}</a></li>
{% endfor %}
</ul>
{% endblock content %}
