<div class="widget-block widget-text-block">
    <div class="widget-content">
        <table><tr>
        <td>
            <p>
            Now, however, a new study in the Journal of the Geological Society throws all of that into question. The asteroid impact and the dinosaur extinction, argue the authors, may not have been simultaneous, but rather may have occurred 300,000 years apart. That's an eye-blink in geological time, but it's a relevant eye-blink all the same, one that occurred at just the right moment in ancient history to have sent the extinction theory entirely awry. (Read about China's dinosaur fossils.)
            </p>
        </td>
        <td>
            <p>
            Now, however, a new study in the Journal of the Geological Society throws all of that into question. The asteroid impact and the dinosaur extinction, argue the authors, may not have been simultaneous, but rather may have occurred 300,000 years apart. That's an eye-blink in geological time, but it's a relevant eye-blink all the same, one that occurred at just the right moment in ancient history to have sent the extinction theory entirely awry. (Read about China's dinosaur fossils.)
            </p>
        </td>
        <td>
            <p>
            Now, however, a new study in the Journal of the Geological Society throws all of that into question. The asteroid impact and the dinosaur extinction, argue the authors, may not have been simultaneous, but rather may have occurred 300,000 years apart. That's an eye-blink in geological time, but it's a relevant eye-blink all the same, one that occurred at just the right moment in ancient history to have sent the extinction theory entirely awry. (Read about China's dinosaur fossils.)
            </p>
        </td>
        </tr></table>
    </div>
</div>
