
{% block extrahead %}
{{ block.super }}
{
<script type="text/javascript" src="{{MEDIA_URL}}js/swfobject.js"></script>

<script type="text/javascript">

var player =
    //flowplayer
    //"{{MEDIA_URL}}swf/FlowPlayerLight.swf"; 
    //jw player
    "{{MEDIA_URL}}swf/player.swf"; 
    //flv_player
    //"{{MEDIA_URL}}swf/player_flv.swf"; 

var flashvars = {
  // flowplayer
  /*config:  {
    videoFile: "{{MEDIA_URL}}{{object.video}}",
    splashImageFile: "{{MEDIA_URL}}{{object.frame}}",
},*/

  //jw player
  file: "{{MEDIA_URL}}{{object.video}}",
  //file: "http://youtube.com/watch%3Fv%3DDdR41fe9Zeg",
  //file: "http://youtube.com/watch%3Fv%3D-ykCg-SLDxM",
  fallback: "{{MEDIA_URL}}{{object.video_flv}}",
  searchbar:false,
  image: "{{MEDIA_URL}}{{object.frame}}",
  //image: "http://s2.ytimg.com/vi/-ykCg-SLDxM/default.jpg",
  shownavigation: false,

  // flv_player
  //flv: "{{MEDIA_URL}}{{object.video}}",
  //startimage: "/media/{{object.frame}}",

  // global
  bgcolor: "#000",
  //autoPlay: true,
  width: "{{object.get_frame_width}}",
  height: "{{object.get_frame_height}}",
};
var params = {
  //menu: false,
  //allowfullscreen: true,
  //allowScriptAccess: "always",

  // flowplayer
  //flashvars: "config={ videoFile: '{{MEDIA_URL}}{{object.video}}', width:'{{object.get_frame_width}}', height:'{{object.get_frame_height}}' }",
  //flashvars: "config={ videoFile: 'http://youtube.com/v/-ykCg-SLDxM.swf', width:'{{object.get_frame_width}}', height:'{{object.get_frame_height}}' }",
};
var attributes = {
  id: "mp1",
  name: "videoplayer"
};    

swfobject.embedSWF(
    player,
    "videocontent", 
    "{{object.get_frame_width}}", 
    "{{object.get_frame_height}}", 
    "8",
    "", //"{{MEDIA_URL}}swf/expressInstall.swf", 
    flashvars, params, attributes);
</script>
{% endblock %}

