{% extends "promos/base.html" %}
{% load i18n %}

{% block head_title %}Preview Promo Billboard{% endblock %}


{% block main_content %}
<h1>Preview Promo Billboard -- {{ billboard }}</h1>
<div class="edit-promo-tabs">
    <div class="tab-links">
        <a href="{% url promos_promo_edit promo_id=promo.id %}" rel="promo-info">Pitch</a>
        <a href="#" rel="promo-info" title="Geotag">Geotag</a>
        <a href="{% url promos_promo_image_list promo_id=promo.id %}">Images</a>
        <a href="{% url promos_promo_link_list promo_id=promo.id %}">Related Links</a>
        <a href="{% url promos_promo_date_list promo_id=promo.id %}">Suggested Dates</a>
        <a href="{% url promos_promo_billboard_list promo_id=promo.id %}" class="active">Billboards</a>
        <a href="{% url promos_promo_detail promo_id=promo.id %}">Detail</a>
        <br class="clearboth" />
    </div>
    <div class="tab-contents">

<div>
<h1>test {{ billboard.title }}</h1>
<a href="{{ main_promo.permalink }}" style="text-decoration:none;"><img src="/site_media/{{ promo_image.image }}" style="width:700px; height: auto; position:relative; left:0px; top:0px;z-index:0;" /></a>
<p style="position:relative; left:{{billboard.supporting_text_position_horizontal}}px; top:{{billboard.supporting_text_position_vertical}}px;z-index:1;color:#{{billboard.supporting_text_color}};width:{{billboard.supporting_text_width}}px;text-align:{{billboard.supporting_text_alignment}}"><strong>{{billboard.supporting_text }}</strong>
    </p>
</div>



{% endblock %}

{% block subnav %}
<h2>Links</h2>
  <ul class="action-links">
    <li><a href="{% url promos_promo_list %}">Promo List</a></li>
 </ul>
{% endblock %}

