{% extends 'promos/base.html' %}

{% block title %}Promos List{% endblock %}

{% block main_content %}
<h1>Promos</h1>
{% if promos %}
    <table cellspacing="0" cellpadding="0" class="list-table">
        <thead>
            <tr>
                <th class="id_col">Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for promo in promos %}
        <tr class="{% cycle '' 'alt-row' %}">
                    <td class="id_col">{{ promo.id }}</td>
                    <td>{{promo}}</td>
                    <td>
                        <a href="{% url promos_promo_edit promo_id=promo.id %}">Pitch</a> | 
                        <a href="{% url promos_promo_add_edit_point promo_id=promo.id %}" rel="promo-info" title="Geotag">Geotag</a> | 
                        <a href="{% url promos_promo_image_list promo_id=promo.id %}">Images</a> | 
                        <a href="{% url promos_promo_link_list promo_id=promo.id %}">Related&nbsp;Links</a> | 
                        <a href="{% url promos_promo_date_list promo_id=promo.id %}">Dates</a> | 
                        <a href="{% url promos_promo_billboard_list promo_id=promo.id %}">Billboards</a> |
                        <a href="{% url promos_promo_detail promo_id=promo.id %}">Details</a> | 
                    </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You haven't submitted any promos yet.</p>
{% endif %}

{% endblock %}
