{% extends "promos/base.html" %}
{% load i18n %}

{% block head_title %}Add a Promo Billboard{% endblock %}

{% block jquery %}
    {{ block.super }}
    $("#id_start_date").datepicker({
        altField:'input#id_promo_date',
        appendText: '(yyyy-mm-dd)',
        altFormat: 'yy-mm-dd'});
{% endblock %}

{% block main_content %}
<h1>Add a Promo Billboard</h1>
<div class="edit-promo-tabs">
    <div class="tab-links">
        <a href="{% url promos_promo_edit promo_id=promo.id %}" rel="promo-info">Pitch</a>
        <a href="#" rel="promo-info" title="Geotag">Geotag</a>
        <a href="{% url promos_promo_image_list promo_id=promo.id %}">Images</a>
        <a href="{% url promos_promo_link_list promo_id=promo.id %}">Related Links</a>
        <a href="{% url promos_promo_date_list promo_id=promo.id %}">Suggested Dates</a>
        <a href="{% url promos_promo_billboard_list promo_id=promo.id %}" class="active">Billboards</a>
        <a href="{% url promos_promo_detail promo_id=promo.id %}">Detail</a>
        <br class="clearboth" />
    </div>
    <div class="tab-contents">
<form action="." method="post">
    <fieldset>
    <table>
    {% for field in form %}
    {% ifequal field.name 'start_date' %}
    {% if user.is_staff %}
    <tr>
        <th>{{ field.label_tag }}:</th>
        <td>
            {{ field.errors }}
            {{ field }}<br />
            {{ field.help_text }}
        </td>
    </tr>
    {% endif %}
    {% else %}
    <tr>
        <th>{{ field.label_tag }}:</th>
        <td>
            {{ field.errors }}
            {{ field }}<br />
            {{ field.help_text }}
        </td>
    </tr>
    {% endifequal %}
    {% endfor %}
    </table>
    <input id="id_submit" type="submit" value="Submit" />
    <a href="../">Cancel</a>
    </fieldset>
</form>
{% endblock %}

{% block subnav %}
<h2>Links</h2>
  <ul class="action-links">
    <li><a href="{% url promos_promo_list %}">Promo List</a></li>
    <li><a href='{% url promos_promo_billboard_calendar_now promo_id=promo.id %}'>Calendar</a></li>
 </ul>
{% endblock %}
