{% extends 'promos/base.html' %}

{% block title %}Promos List{% endblock %}

{% block main_content %}
<h1>Promos</h1>

<ul>
{% for promo in promos %}
    <li class="{% cycle 'even' 'odd' %}">
        <a href="{{promo.permalink}}">{{promo}}</a> {{promo.description}}<br>
        <a href="{% url promos_promo_detail promo_id=promo.id %}">detail</a> - <a href="{{promo.id}}/edit/">edit</a>
        <a href="{% url promos_promo_image_add promo_id=promo.id %}" title="Submit Promo">Submit Promo Image</a>
        <a href="{% url promos_promo_link_add promo_id=promo.id %}" title="Submit Promo">Submit Promo Link</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
