<div id="add-page-template" class="thickwindow">
    <h2>Add page</h2>
    <p>Here you can chose pre-defined templates to use in your story's pages. Just pick which ones best suit your story and media you want to use, and add them to your content.
    </p>
    <p>You can add as many pages as you want. After you are done, press the Esc key to exit</p>
    <br />
    <ul class="list-page-templates">
        <li>
            <img src="{{ MEDIA_URL }}images/widgets/pages/layout1.png" />
            <h3>Basic</h3>
            <p>
                One picture + text
            </p>
            <br />
            <a href="" class="widget-add">Add to story</a>
            <ul class="widget-html hidden widget-page_template">
                <li class="widget-block w21-image float-left unbinded">
                    <img src="{{ MEDIA_URL }}images/widgets/question.jpg" width="200" />
                    <div class="widget-code hidden">
                    </div>
                    {% include "stories/widgets/includes/widget_options.html" %}
                </li>
                <li class="widget-block w21-text_1col unbinded">
                    <p>
                    Now, however, a new study in the Journal of the Geological Society throws all of that into question. The asteroid impact and the dinosaur extinction, argue the authors, may not have been simultaneous, but rather may have occurred 300,000 years apart. That's an eye-blink in geological time, but it's a relevant eye-blink all the same, one that occurred at just the right moment in ancient history to have sent the extinction theory entirely awry. (Read about China's dinosaur fossils.)
                    </p>
                    {% include "stories/widgets/includes/widget_options.html" %}
                </li>
                <li class="widget-block w21-text_2col clear unbinded">
                    <table><tr>
                    <td>
                        <p>
                        Now, however, a new study in the Journal of the Geological Society throws all of that into question. The asteroid impact and the dinosaur extinction, argue the authors, may not have been simultaneous, but rather may have occurred 300,000 years apart. That's an eye-blink in geological time, but it's a relevant eye-blink all the same, one that occurred at just the right moment in ancient history to have sent the extinction theory entirely awry. (Read about China's dinosaur fossils.)
                        </p>
                    </td>
                    <td>
                        <p>
                        Now, however, a new study in the Journal of the Geological Society throws all of that into question. The asteroid impact and the dinosaur extinction, argue the authors, may not have been simultaneous, but rather may have occurred 300,000 years apart. That's an eye-blink in geological time, but it's a relevant eye-blink all the same, one that occurred at just the right moment in ancient history to have sent the extinction theory entirely awry. (Read about China's dinosaur fossils.)
                        </p>
                    </td>
                    </tr></table>
                    {% include "stories/widgets/includes/widget_options.html" %}
                </li>
            </ul>
        </li>
    </ul>
    <div id='TB_closeAjaxWindow'><a href='#' id='TB_closeWindowButton'>Click to close</a> or press the Esc Key</div>
</div>