.tab_promos .navbutton { background: #DDD; color: #3D4B52; border-bottom-color: #DDD; }
.tab_promos .navbutton:hover { background-color: #DDD; }

.promos-list-link { font-size: 1.2em; height: 43px; }
    .promos-list-link a { padding: 3px 5px;  }
    .promos-list-link a:hover { background: #596E78; -moz-border-radius: 4px; text-decoration: none; color: #FFF }

 .edit-promo-tabs { background: #E3EDF1; padding: 5px; -moz-border-radius: 5px; }
    .tab-links a { float: left; margin-right: 10px; padding: 8px; color: #14456E; font-weight: bold; text-decoration: none; text-transform: uppercase; }
    .tab-links a.active { background: #FFF; -moz-border-radius: 5px; -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;  }
.tab-contents { padding: 10px; background: #FFF; -moz-border-radius: 5px; -moz-border-radius-topleft: 0; }
