
.rounded-block { -moz-border-radius-bottomleft:8px; -moz-border-radius-bottomright:8px; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; background:#E3EDF0 none repeat scroll 0 0; color:#4A5C64; text-align:center; margin: 0 10px; }

.stories-list-link { font-size: 1.2em; height: 43px; }
    .stories-list-link a { padding: 3px 5px;  }
    .stories-list-link a:hover { background: #596E78; -moz-border-radius: 4px; text-decoration: none; color: #FFF }


.headline-options { font-size: 0.7em; font-weight: normal; }
    .headline-options a { text-decoration: underline; color: #14456E; }
        .headline-options a:hover { text-decoration: none; }

.tab_stories .navbutton { background: #DDD; color: #3D4B52; border-bottom-color: #DDD; }
.tab_stories .navbutton:hover { background-color: #DDD; }


.edit-story-tabs { background: #E3EDF1; padding: 5px; -moz-border-radius: 5px; }
    .tab-links a { float: left; margin-right: 10px; padding: 8px; color: #14456E; font-weight: bold; text-decoration: none; text-transform: uppercase; }
    .tab-links a.active { background: #FFF; -moz-border-radius: 5px; -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;  }
.tab-contents { padding: 10px; background: #FFF; -moz-border-radius: 5px; -moz-border-radius-topleft: 0; }


.thickwindow { padding: 10px; background: #F5F5F5 url(../images/stories/thickwindow-bg.gif) repeat-x; border: 1px solid #CCC; -moz-border-radius: 7px; }
    .thickwindow h2 { padding: 10px 0; }

    #TB_closeAjaxWindow { clear: both; padding-top: 20px; text-align: right; }

    #lb-block-save { float: left; padding: 6px 30px; background-color: #555; color: #FFF; text-decoration: none; -moz-border-radius: 10px; }
    #TB_window #lb-block-save:visited { color: #FFF; }
    #TB_window #lb-block-save:hover { background-color: #777; }

#page-layout-list { padding: 0 0 20px; height: 270px; overflow: auto; }
#page-layout-list .page-layout { float: left; width: 270px; padding: 0; margin: 0;}
#page-layout-list img { opacity:.85; width: 240px; margin-right: 20px; position: relative;}
#page-layout-list img:hover { opacity:1; cursor: pointer;}



#ajax-media-list { height: 350px; overflow: auto;  }
#ajax-media-list li { float: left; width: 49%; padding: 6px 0; }
#ajax-media-list li img { float: left; }
#ajax-media-list .popup-url { display: none; }

#story-media .media-list-block { margin: 0; overflow: auto; width: 350px; float: left; margin-bottom: 40px;}
#story-media .media-list-block.odd { clear: left; }
#story-media .media-list-block .media-thumb { float:left; overflow: none; }
#story-media .media-list-block p { margin: 0 10px; }
#story-media .media-list-block p.rounded-block { margin: 10px; padding: 10px; }
#story-media .media-list-block .action-links a {  text-decoration: none; margin: 0; padding: 10px 30px; }
#story-media .media-list-block .action-links a.delete {  margin-left: 75px; }
#story-media .media-list-block .action-links a:hover {  background-color: #d3dDe0; }
#story-media .media-list-block .action-links .delete { color: red; url("/site_media/common/icon_inline-item-tools_deletelink_hover.gif");  }

