{% extends "base.html" %}

{% block title %}Features List{% endblock %}

{% block body_id %}features{% endblock %}

{% block content %}
<div id="tabs_menu">
    <ul> 
    {% block tabs_menu %}
     <li class="dashboard"><a href="/dashboard/">Dashboard</a></li>
     <li class="stories"><a href="{% url stories_story_list %}">Stories</a></li>
     <li class="features"><a href="{% url features_feature_list %}">Features</a></li>
    {% endblock %}
    </ul>
</div>
    
    {% block main_content %}{% endblock %}
    
{% endblock content%}
