{% extends 'features/base.html' %}

{% block title %}{{feature}} | Features{% endblock %}

{% block body_id %}features{% endblock %}

{% block app_menu %}
<h2>Features</h2>
<ul>
<li><a href="{% url features_feature_edit feature.id %}">Edit Feature</a></li>
</ul>
{% endblock %}

{% block main_content %}
<h1>{{feature}}</h1>

<p>
<a href="{{ feature.permalink }}">{{ feature }}</a>
</p>
<p>
    <div style="float:left;">
{% for i in feature_image%}
    <img src="{{ i.photo.thumbnail.url }}">
{% endfor %}
    </div>
{{feature.description}}
<br clear="all">
</p>

<h2>Related Links</h2>
<ul>
{% for link in feature_link %}
    <li><a href="{{ link.url }}">{{ link.title }}</a> {{ link.desc }}</li>
{% endfor %}
</ul>


<h2>Additional Information</h2>
<dl>
<dt>Permalink</dt>
<dd><a href="{{ feature.permalink }}">{{ feature.permalink }}</a></dd>

<dt>Affiliate</dt>
<dd>{{feature.affiliate}}</dd>

<dt>Submitted by</dt>
<dd><a href="{{ feature.submitter.get_absolute_url }}"
    >{{feature.submitter}}</a></dd>

<dt>Authors</dt>
<dd>
{{ feature.authors.all|join:", " }}
</dd>

</dl>

{% endblock %}
