<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>

    <title>{% block head_title %}{% endblock %} | {% if site_name %}{{ site_name }}{% endif %} | Carnegie-Knight Initiative on the Future of Journalism Education</title>


    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Jody Brannon" />
    <meta name="copyright" content="&copy; 2009 News21" />
    <meta name="description" content="News21: Innovative journalism by ASU, Berkeley, Columbia, Harvard, Maryland, Missouri, Nebraska, UNC, Northwestern, USC, Syracuse & Texas." />
    <meta name="keywords" content="News21, Innovative, investigative, journalism, Future of Journalism Education">
      
    <meta name="robots" content="all" />

    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/site.css" />

    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/ie6.css" />
    <![endif]-->

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.min.js"></script>

  <!-- AddThis Button START -->
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=news21"></script>
  <script type="text/javascript">
  var addthis_config = {
    username: 'news21', 
    services_compact: 'email, favorites, twitter, facebook, google, digg, myspace, reddit, live, linkedin, more',
  }
  </script>
  <!-- AddThis Button END -->


    {% block extrahead %}{% endblock %}

  </head>

  <body id="{% block body_id %}body_base{% endblock %}">

    <div id="shadow">

      <div id="wrapper" class="container_12">

        <!-- HEADER -->

        <div id="header" class="grid_12">

          <div id="logo"><a href="/"><img src="{{ MEDIA_URL }}themes/esser/images/header/news21.gif" alt="News 21" /></a></div>

          <div id="tagline"><img src="{{ MEDIA_URL }}themes/esser/images/header/innovate-investigate-collaborate.gif" alt="Innovate_Investigate_Collaborate." /></div>

          <ul class="dropdown">
          {% block navbar %}
            <li><a href="{% url topics_topic_list %}"><img src="{{ MEDIA_URL }}themes/esser/images/header/buttons/topics.gif" alt="Topics" /></a>
              <ul class="topic_sub_menu">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li onmouseover="$('ul.about_sub_menu').show();" onmouseout="$('ul.about_sub_menu').hide();"><a href="/about/"><img src="{{ MEDIA_URL }}themes/esser/images/header/buttons/about.gif" alt="About" /></a>
              <ul class="about_sub_menu">
                <li><a href="/about#initiative">The Initiative</a></li>
                <li><a href="/about#participants">Participants</a></li>
                <!-- <li><a href="#">Contributors</a></li>
                <li><a href="#">News Partners</a></li> -->
              </ul>
            </li>
           {% endblock %}
          </ul>

          <form action="/search/" method="get">
            <fieldset>
              <input name="affiliate" type="hidden" value="" />
              <input name="q" type="text" value="{{ request.GET.q }}" class="input" />
              <input name="search" type="image" src="{{ MEDIA_URL }}themes/esser/images/header/buttons/search.gif" alt="Search" class="search" />
            </fieldset>
          </form>

        </div>



        <div id="home" class="{% block content_grid %}grid_9{% endblock %}">
        {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li id="message_{{ forloop.counter }}"><a href="#" onclick="
$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>clear</small></a> {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

          <div id="content">
        {% block body %}{% endblock %}
          </div><!-- close content div //-->

        </div>


        {% block sidebar %}
        <div id="sidebar" class="grid_3">

          {% block sidebar_about %}
          <div id="about-news21" class="box">

            <div class="header"><img src="{{ MEDIA_URL }}themes/esser/images/headers/about-news21.gif" alt="About News21" /></div>

            <div class="padding">

<p>
<strong>This site is an alliance of more than 90 students from 12 universities  exploring new approaches to in-depth digital journalism.  Carnegie-Knight fellows from Harvard, Missouri, Nebraska and Texas join teams of fellows from the eight schools listed below.</strong>
</p>
<p>
<strong>These projects are in their early stages.  They are shared here with elements to be refined in July and August.  Please return to see our work take shape.</strong>
</p> 

            </div>

          </div>
          {% endblock %}

          {% block sidebar_topics %}
          <div id="topics" class="box">

            <div class="header"><img src="{{ MEDIA_URL }}themes/esser/images/headers/2009-topics.gif" alt="2009 Topics" /></div>

            <div class="padding">

              <ul>
                <li><a href="http://asu.news21.com/">The Latino Experience Across America</a></li>
                <li><a href="http://berkeley.news21.com/">Intersections: Bay Area Communities at the Crossroads</a></li>
                <li><a href="http://columbia.news21.com/">Charter Explosion: Hybrid Schools in Public Education</a></li>
                <li><a href="http://www.thenewvoters.com">The New Voters: Identity & U.S. Politics</a></li>
                <li><a href="http://unc.news21.com/">Powering a Nation: Quest for Energy in a Growing USA</a></li>
                <li><a href="http://northwestern.news21.com/">Young Urbanites: A Diverse Generation Confronts Its Future</a></li>
                <li><a href="http://usc.news21.com/">Southwestern Shifts: New Communities & New Realities</a></li>
                <li><a href="http://syracuse.news21.com">The Young & the Wireless: Net Gen Rising</a></li>
              </ul>

            </div>

          </div>
          {% endblock %}

          {% block sidebar_orgs %}
          <div id="university-newsrooms" class="box">

            <div class="header"><img src="{{ MEDIA_URL }}themes/esser/images/headers/university-newsrooms.gif" alt="University Nerwsrooms" /></div>

            <div class="padding">

              <ul class="left">
                <li><a href="http://asu.news21.com/">Arizona State</a></li>
                <li><a href="http://berkeley.news21.com/">Berkeley</a></li>
                <li><a href="http://columbia.news21.com/">Columbia</a></li>
                <li><a href="http://www.thenewvoters.com">Maryland</a></li>
              </ul>
              <ul class="right">
                <li><a href="http://unc.news21.com/">North Carolina</a></li>
                <li><a href="http://northwestern.news21.com/">Northwestern</a></li>
                <li style="white-space:nowrap;"><a href="http://usc.news21.com/">Southern California</a></li>
                <li><a href="http://syracuse.news21.com/">Syracuse</a></li>
              </ul>

              <div class="clear"></div>

            </div>

          </div>
          {% endblock %}

        </div>
        {% endblock %}

        <!-- FOOTER -->

        <div id="footer">

          <div id="buttons" class="grid_4">

            <ul>
              <li><a href="mailto:news@news21.com"><img src="{{ MEDIA_URL }}themes/esser/images/footer/buttons/contact-news21.gif" alt="Contact News21" /></a></li>
              <li><a href="http://newsinitiative.org/projects"><img src="{{ MEDIA_URL }}themes/esser/images/footer/buttons/archive.gif" alt="Archive" /></a></li>

            </ul>

          </div>

          <div id="bookmarks" class="grid_4">

            <ul>
              <li><a href="http://ning.news21.com/"><img src="{{ MEDIA_URL }}themes/esser/images/footer/bookmarks/ng.gif" alt="Ning Blogs" /></a></li>
              <li><a href="http://www.facebook.com/news21#/group.php?sid=6e93479d36c94c53fd02a741f6e4a778&gid=2526450378&ref=search"><img src="{{ MEDIA_URL }}themes/esser/images/footer/bookmarks/facebook.gif" alt="Facebook" /></a></li>
              <li><a href="http://www.youtube.com/news21"><img src="{{ MEDIA_URL }}themes/esser/images/footer/bookmarks/youtube.gif" alt="YouTube" /></a></li>
              <li><a href="http://www.linkedin.com/groups?gid=1498937"><img src="{{ MEDIA_URL }}themes/esser/images/footer/bookmarks/linkedin.gif" alt="LinkedIn" /></a></li>
              <!--li><a href="#"><img src="{{ MEDIA_URL }}themes/esser/images/footer/bookmarks/rss.gif" alt="RSS" /></a></li-->
              <!--li><a href="#"><img src="{{ MEDIA_URL }}themes/esser/images/footer/bookmarks/email.gif" alt="Email" /></a></li-->
              <li><span class="addthis_toolbox"><span class="custom_images"><a addthis:ui_click="true" class="addthis_button_compact"><img src="{{ MEDIA_URL }}themes/esser/images/footer/bookmarks/email.gif" width="22" height="22" alt="Share" /></a></span></span></li>
            </ul>
          </div>

          <div id="sponsors" class="grid_4">

            <ul>
              <li><a href="http://www.carnegie.org/" rel="external"><img src="{{ MEDIA_URL }}themes/esser/images/footer/sponsors/carnegie-corporation.gif" alt="Carnegie Corporation of New York" /></a></li>
              <li><a href="http://www.knightfoundation.org/" rel="external"><img src="{{ MEDIA_URL }}themes/esser/images/footer/sponsors/knight-foundation.gif" alt="John S. and James L. Knight Foundation" /></a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div id="bottom"></div>

{% if google_analytics_key %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{ google_analytics_key }}");
pageTracker._trackPageview();
} catch(err) {}</script>
{% else %}
{% endif %}

  </body>

</html>

