{% extends 'site_base.html' %}

{% block head_title %}Welcome{% endblock %}

{% block body_id %}front{% endblock %}

{# wipe topics sidebar #}
{% block sidebar_topics %}{% endblock %}


{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endblock %}

{% block body %}
<div id="flash" class="box" style="background: #ffffff">
	<div id="flashcontent">TiltViewer requires JavaScript and the latest Flash player. <a href="http://www.macromedia.com/go/getflashplayer/">Get Flash here.</a></div>
	<script type="text/javascript">
	
		var fo = new SWFObject("{{ MEDIA_URL}}themes/esser/swf/NEWS21v3.swf", "viewer", "700", "350", "9.0.28", "#FFFFFF");			
		
		// TILTVIEWER CONFIGURATION OPTIONS
		// To use an option, uncomment it by removing the "//" at the start of the line
		// For a description of config options, go to: 
		// http://www.airtightinteractive.com/projects/tiltviewer/config_options.html
															
		//FLICKR GALLERY OPTIONS
		// To use images from Flickr, uncomment this block
		//fo.addVariable("useFlickr", "true");
		//fo.addVariable("user_id", "48508968@N00");
		//fo.addVariable("tags", "jump,smile");
		//fo.addVariable("tag_mode", "all");
		//fo.addVariable("showTakenByText", "true");		
		
		// XML GALLERY OPTIONS
		// To use local images defined in an XML document, use this block		
		fo.addVariable("useFlickr", "false");
		fo.addVariable("xmlURL", "gallery.xml");
		fo.addVariable("maxJPGSize","600");
		
		//GENERAL OPTIONS		
		fo.addVariable("useReloadButton", "false");
		fo.addVariable("columns", "3");
		fo.addVariable("rows", "2");
		//fo.addVariable("showFlipButton", "true");
		//fo.addVariable("showLinkButton", "true");
		//fo.addVariable("linkLabel", "Click this Link!!");
		//fo.addVariable("frameColor", "0xff0000");
		fo.addVariable("backColor", "0x999999");
		//fo.addVariable("bkgndInnerColor", "0xFF00FF");
		//fo.addVariable("bkgndOuterColor", "0x0000FF");				
		//fo.addVariable("langGoFull", "Go Fullscreen");
		//fo.addVariable("langExitFull", "Exit Fullscreen");
		//fo.addVariable("langAbout", "About");	
		
		//PRO OPTIONS
		//fo.addVariable("bkgndTransparent", "true");
		//fo.addVariable("showFullscreenOption", "true");
		fo.addVariable("frameWidth", "20");
		fo.addVariable("zoomedInDistance", "1000");
		fo.addVariable("zoomedOutDistance", "2700");
		//fo.addVariable("fontName", "Times");
		fo.addVariable("titleFontSize", "60");
		fo.addVariable("descriptionFontSize", "25");
		//fo.addVariable("linkFontSize", "41");
		//fo.addVariable("linkTarget", "_self");
		//fo.addVariable("navButtonColor", "0xFF00FF");
		//fo.addVariable("flipButtonColor", "0x0000FF");
		//fo.addVariable("textColor", "0xFFFFFF");
		//fo.addVariable("linkTextColor", "0x000000");
		//fo.addVariable("linkBkgndColor", "0xFFFFFF");
		//fo.addVariable("enableSounds", "true");
		fo.addVariable("tiltAmountIn", "20");
		fo.addVariable("tiltAmountOut", "40");
				
		// END TILTVIEWER CONFIGURATION OPTIONS
		fo.addParam("allowFullScreen","true");
		fo.addParam("wmode","transparent");
		//fo.addParam("base","{{ MEDIA_URL}}uploads/projects/2009/05/27/news21tiltview/");
		fo.write("flashcontent");			
	</script>	
</div>

          <div id="topics" class="box">

            <div class="header"><img src="{{ MEDIA_URL }}themes/esser/images/headers/main-topic.gif" alt="2009 Topics: EXPLORATIONS IN A CHANGING AMERICA" /></div>

            <div class="padding">

              <ul>
                <li><a href="http://asu.news21.com">The Latino Experience Across America</a></li>

                <li><a href="http://berkeley.news21.com">Urban Reporting, Demographics and the American Tapestry</a></li>
                <li><a href="http://columbia.news21.com">Charter Schools: A Lends Into Education Across the USA</a></li>
                <li><a href="http://umd.news21.com">The U.S. Political landscape - racial Identity and Attitudes</a></li>
              </ul>

              <ul>
                <li><a href="http://unc.news21.com">Changing America: Population and Energy Use</a></li>

                <li><a href="http://northwestern.news21.com">Urban Youth and the New America</a></li>
                <li><a href="http://usc.news21.com">Southwestern Shifts: New Communication and New Realties</a></li>
                <li><a href="http://syracuse.news21.com">Teen America: Technology, Identity and Empowerment</a></li>
              </ul>

              <div class="clear"></div>

            </div>
          </div>
{% endblock %}
