{% extends 'site_base.html' %}

{% block head_title %}Welcome{% endblock %}

{% block body_id %}front{% endblock %}

{# wipe topics sidebar #}
{% block sidebar_topics %}{% endblock %}


{% block extrahead %}
{% endblock %}

{% block body %}

        <div id="homepage-banner" class="box" style="background:white;border-bottom:0px;">
{% for home7 in home7 %}
            <div style="position:relative;top:-1px;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{% autoescape off %}A NEW GENERATION PRODUCES NEW FORMS OF JOURNALISM{% endautoescape %}</div>
            {% if home7.content %}
            <div style="background:#a6a6a7;padding-left:16px;">
                {% autoescape off %}
                {% endautoescape %}
            </div>
            {% else %}
            {% endif %}

{% endfor %}
        </div>

{% for billboard in billboards %}
    <div class="billboard" id="billboard" title="{{ billboard.image.caption }} : {{ billboard.image.attribution }}">
    {% ifequal billboard.billboard_type '0' %}
        <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'" ONMOUSEOVER="window.status = '{% firstof billboard.link.url billboard.promo.permalink %}';return true;">
            {% autoescape off %}<h1><a href="{% firstof billboard.link.url billboard.promo.permalink %}" style="text-decoration:none;position:relative; left:{{ billboard.headline_position_horizontal }}px; top:{{ billboard.headline_position_vertical }}px;z-index:1;color:{{ billboard.headline_color }};">{{ billboard.headline }}</a></h1>{% endautoescape %}
            {% autoescape off %}
            <p style="position:relative; left:{{billboard.supporting_text_position_horizontal}}px; top:{{billboard.supporting_text_position_vertical}}px;z-index:1;color:{{billboard.supporting_text_color}};width:{{billboard.supporting_text_width}}px;text-align:{{billboard.supporting_text_alignment}};"><strong>{{ billboard.supporting_text}}</strong></p>
            {% endautoescape %}
        </div>
        {% else %}
        {% ifequal billboard.billboard_type '1' %}
                <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'"  title="{{ billboard.image.caption }} : {{ billboard.image.attribution }}"><p>&nbsp;</p>
                </div>
        {% else %}
            {% ifequal billboard.billboard_type '2' %}
                    <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'">
                {% autoescape off %}
                    <div>{{ billboard.supporting_text}}</div>
                {% endautoescape %}
                    </div>
            {% endifequal %}
        {% endifequal %}
    {% endifequal %}
    </div>
{% endfor %}

          <div id="topics" class="box">

            <div style="position:relative;top:-1px;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">
{% block fronttopics_heading %}

{% for home6 in home6 %}
    {% autoescape off %}
2009 Projects: EXPLORATIONS IN A CHANGING AMERICA
    {% endautoescape %}
{% endfor %}

{% endblock %}</div>

            <div style="padding: 0px 5px;">
{% block fronttopics %}

{% for home6 in home6 %}

    {% autoescape off %}
<ul>
    <li><strong><a href="http://asu.news21.com/">The Latino Experience Across America</a></strong></li>
    <li><strong><a href="http://berkeley.news21.com/">Intersections: Bay Area Communities at the Crossroads</a></strong></li>
    <li><strong><a href="http://columbia.news21.com/">Charter Explosion: Hybrid Schools in Public Education</a></strong></li>
    <li style="white-space:nowrap;"><strong><a href="http://umd.news21.com">The New Voters: Identity & U.S. Politics</a></strong></li>
</ul>
<ul style="margin: 10px">
    <li><strong><a href="http://unc.news21.com/">Powering a Nation: Quest for Energy in a Changing USA</a></strong></li>
    <li style="white-space:nowrap;"><strong><a href="http://northwestern.news21.com/">Young Urban Adults and the New America</a></strong></li>
    <li><strong><a href="http://usc.news21.com/">Southwestern Shifts: New Communities & New Realities</a></strong></li>
    <li><strong><a href="http://syracuse.news21.com">The Young & the Wireless: Net Gen Rising</a></strong></li>
</ul>
    {% endautoescape %}

{% endfor %}

{% endblock %}
              <div class="clear"></div>

            </div>
          </div>
{% endblock %}

{% block body_extra %}<div class="clear"></div>
<table style="width:100%;position:relative;top:-7px;">
<tr>

<td style="width:1%;"></td>

{% for home1 in home1 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{% autoescape off %}Economic Reverberations{% endautoescape %}</th>
{% endfor %}

<td style="width:2%;"></td>

{% for home2 in home2 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{% autoescape off %}Demographic Shifts{% endautoescape %}</th>
{% endfor %}

<td style="width:2%;"></td>

{% for home3 in home3 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{% autoescape off %}About News21{% endautoescape %}</th>
{% endfor %}

<td style="width:1%;"></td>

</tr>
<tr>

<td></td>

{% for home1 in home1 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p><a href="http://usc.news21.com/index.php/cknelson/storypage"><img src="http://newsroom.news21.com/site_media/uploads/promos/2009/08/18/usc-cart.jpg"align="center" style="width:100%;height:auto;
		  alt="homelessness and back economic situation in Nevada; photo by Chris Nelson, USC News21" width="272" 
		  style="padding:4px"></a><br>
<h2 style="margin-bottom:0px;"><a href="http://usc.news21.com/index.php/cknelson/storypage">Nevada: A Perfect Storm</a></h2>
Recession, foreclosures, a slowdown in population growth and eroding tax base are paralyzing social services in Nevada</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

{% for home2 in home2 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p><a href="http://thenewvoters.news21.com/latino/latino-overview"><img src="http://newsroom.news21.com/site_media/uploads/promos/2009/08/18/umd-voters.jpg" alt="Eddie and Becky Cantu of Springdale, Ark.; photo by Leonard Sparks, UMd News21" align="center" style="width:100%;height:auto;"></a>
<h2 style="margin-bottom:0px;"><a href="http://thenewvoters.news21.com/latino/latino-overview">Latino Voters May Transform  Politics </a></h2>
An analysis of voter survey data shows that Latinos are poised to have a profound effect on the nation’s political future.<br/></p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

{% for home3 in home3 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p><img		  src="http://newsroom.news21.com/site_media/uploads/promos/2009/08/17/3-fellows.jpg"
		  alt="Joey Castillo of Texas; Eileen Mignoni of UNC; Deanna Dent of ASU; photo by Jean Yung, USC News21" width="272" align="center" style="width:100%;height:auto;
		  style="padding:4px"><p>
<strong>Now in our fourth year: Beta 4.0</strong>
</p>
The nation's leading journalism schools come together in this unique program to experiment with new forms of in-depth and investigative reporting.
Students travel the country to report on critical issues facing the nation and then find innovative ways to tell those stories. </p>
</p>
<p>
We welcome your <a href="mailto:news@news21.com"> feedback</a>.
</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

</tr>
</table>

{% endblock %}

{% block sidebar_status %}
{% for status in status %}
<div>
{% autoescape off %}
<p>{{ status.content }}</p>
{% endautoescape %}
</div>
{% endfor %}
{% endblock %}

{% block home4_height %}
            <div class="padding" style="height:330px;">
{% endblock %}

{% block home4_heading %}
{% for home4 in home4 %}
{% autoescape off %}
How We're Innovating
{% endautoescape %}
{% endfor %}
{% endblock %}

{% block home4_text %}
{% for home4 in home4 %}
<div>
{% autoescape off %}
<p><ul><strong>
<li>A <a href="http://asu.news21.com/building-success/">unique video player</a> allows users to access graphics and text without exiting the video. </li>

<li>At <a href="http://berkeley.news21.com/citylab/">Citylab</a>, reporters can upload data and compare hard-to-find information about cities all over the country.</li>

<li>A <a href="http://umd.news21.com/innovations/videoplayer">tag cloud player</a> allows users to locate videos about the subjects of their choice.</li>

<li>An <a href="http://unc.news21.com/index.php/stories/diet/from-pasture-to-plate.html">unusual motion graphic</a> follows how a typical American meal is produced.</li>

<li>The story of the <a href="http://asu.news21.com/the-virgin-of-guadalupe/">Virgin of Guadalupe</a> is presented in a visual, non-linear format.</li>
</strong>

<hr width ="75%">
<strong>Learn more at <a href="http://innovate.news21.com">innovate.news21.com</a></h2>

</ul></p>
{% endautoescape %}
</div>
{% endfor %}
{% endblock %}

{% block home5_heading %}
{% for home5 in home5 %}
{% autoescape off %}
University Newsrooms
{% endautoescape %}
{% endfor %}
{% endblock %}

{% block home5_text %}
{% for home5 in home5 %}
{% autoescape off %}
              <ul class="left">
                <li><a href="http://asu.news21.com/">Arizona State</a></li>
                <li><a href="http://berkeley.news21.com/">Berkeley</a></li>
                <li><a href="http://columbia.news21.com/">Columbia</a></li>
                <li><a href="http://www.thenewvoters.com">Maryland</a></li>

              </ul>
              <ul class="right">
                <li><a href="http://unc.news21.com/">North Carolina</a></li>
                <li><a href="http://northwestern.news21.com/">Northwestern</a></li>
                <li style="white-space: nowrap;"><a href="http://usc.news21.com/">Southern California</a></li>
                <li><a href="http://syracuse.news21.com/">Syracuse</a></li>

              </ul><br>
<a href="http://news21.com/about/#associates">Associate Schools</a>
{% endautoescape %}
{% endfor %}
{% endblock %}
