{% extends 'site_base.html' %}

{% block head_title %}Welcome{% endblock %}

{% block body_id %}front{% endblock %}

{# wipe topics sidebar #}
{% block sidebar_topics %}{% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/text_test.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/site_test.css" />

    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}themes/esser/css/ie6.css" />
    <![endif]-->
    {% endblock %}

{% block extrahead %}
{% endblock %}

          {% block navbar %}
          <ul class="dropdown" style="list-style: none">
            <li><a href="/topics/" style="z-index:1;padding: 0px 0px;"><img src="{{ MEDIA_URL }}themes/esser/images/header/buttons/topics.gif" alt="Topics" /></a>
              <ul class="dropdown" style="z-index:1; width: 105px;">
                <li><a href="/schools/">By Newsroom</a>
                <ul class="sub_menu" style="z-index:1;width: 140px;">
                    <li><a href="http://asu.news21.com/">Arizona</a></li>
                    <li><a href="http://berkeley.news21.com/">Berkeley</a></li>
                    <li><a href="http://columbia.news21.com/">Columbia</a></li>
                    <li><a href="http://umd.news21.com/">Maryland</a></li>
                    <li><a href="http://unc.news21.com/">North Carolina</a></li>
                    <li><a href="http://northwestern.news21.com/">Northwestern</a></li>
                    <li><a href="http://usc.news21.com/">Southern California</a></li>
                    <li><a href="http://syracuse.news21.com/">Syracuse</a></li>
                </ul>
                </li>
                <li><a href="/about/#participants">By Project</a>
                <ul class="sub_menu" style="z-index:1; width: 160px;">
                    <li><a href="http://asu.news21.com/">The Latino Experience</a></li>
                    <li><a href="http://berkeley.news21.com/">Intersections</a></li>
                    <li><a href="http://columbia.news21.com/">Charter School Explosion</a></li>
                    <li><a href="http://umd.news21.com/">The New Voters</a></li>
                    <li><a href="http://unc.news21.com/">Powering a Nation</a></li>
                    <li><a href="http://northwestern.news21.com/">Young Urban Adults</a></li>
                    <li><a href="http://usc.news21.com/">Southwestern Shifts</a></li>
                    <li><a href="http://syracuse.news21.com">The Young &amp; the Wireless</a></li>
                </ul>
                </li>
                <li><a href="/topics/list/">Category</a>
                <ul class="sub_menu" style="z-index:1;width: 120px;">
                    <li><a href="/topics/cities">Cities</a></li>
                    <li><a href="/topics/culture">Culture</a></li>
                    <li><a href="/topics/demographics">Demographics</a></li>
                    <li><a href="/topics/economics">Economics</a></li>
                    <li><a href="/topics/education">Education</a></li>
                    <li><a href="/topics/employment">Employment</a></li>
                    <li><a href="/topics/environment">Environment</a></li>
                    <li><a href="/topics/gender">Gender</a></li>
                    <li><a href="/topics/health">Health</a></li>
                    <li><a href="/topics/immigration">Immigration</a></li>
                    <li><a href="/topics/nieghborhoods">Neighborhoods</a></li>
                    <li><a href="/topics/policy">Policy</a></li>
                    <li><a href="/topics/politics">Politics</a></li>
                    <li><a href="/topics/poverty">Poverty</a></li>
                    <li><a href="/topics/race">Race</a></li>
                    <li><a href="/topics/regions">Regions</a></li>
                    <li><a href="/topics/spirituality">Spirituality</a></li>
                    <li><a href="/topics/technology">Technology</a></li>
                    <li><a href="/topics/urbanissues">Urban Issues</a></li>
                    <li><a href="/topics/youth">Youth</a></li>
                </ul>
                </li>
              </ul>
            </li>


            <li><a href="/about/" style="padding: 0px 0px;"><img src="{{ MEDIA_URL }}themes/esser/images/header/buttons/about.gif" alt="About"></a>
              <ul class="dropdown" style="z-index:1; width: 90px;">
                <li><a href="/about#initiative">The Initiative</a></li>
                <li><a href="/about#participants">Participants</a></li>
                <!-- <li><a href="#">Contributors</a></li>
                <li><a href="#">News Partners</a></li> -->
              </ul>
            </li>
          </ul>
           {% endblock %}

{% block body %}

        <div id="homepage-banner" class="box" style="background:white;border-bottom:0px;">
{% for home7 in home7 %}
            <div style="position:relative;top:-1px;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{{ home7.title }}</div>
            {% if home7.content %}
            <div style="background:#a6a6a7;padding-left:16px;">
                {% autoescape off %}
                 {{ home7.content }}
                {% endautoescape %}
            </div>
            {% else %}
            {% endif %}

{% endfor %}
        </div>

{% for billboard in billboards %}
    <div class="billboard" id="billboard" title="{{ billboard.image.caption }} : {{ billboard.image.attribution }}">
    {% ifequal billboard.billboard_type '0' %}
        <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'" ONMOUSEOVER="window.status = '{% firstof billboard.link.url billboard.promo.permalink %}';return true;">
            {% autoescape off %}<h1><a href="{% firstof billboard.link.url billboard.promo.permalink %}" style="text-decoration:none;position:relative; left:{{ billboard.headline_position_horizontal }}px; top:{{ billboard.headline_position_vertical }}px;z-index:1;color:{{ billboard.headline_color }};">{{ billboard.headline }}</a></h1>{% endautoescape %}
            {% autoescape off %}
            <p style="position:relative; left:{{billboard.supporting_text_position_horizontal}}px; top:{{billboard.supporting_text_position_vertical}}px;z-index:1;color:{{billboard.supporting_text_color}};width:{{billboard.supporting_text_width}}px;text-align:{{billboard.supporting_text_alignment}};"><strong>{{ billboard.supporting_text}}</strong></p>
            {% endautoescape %}
        </div>
        {% else %}
        {% ifequal billboard.billboard_type '1' %}
                <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'"  title="{{ billboard.image.caption }} : {{ billboard.image.attribution }}"><p>&nbsp;</p>
                </div>
        {% else %}
            {% ifequal billboard.billboard_type '2' %}
                    <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'">
                {% autoescape off %}
                    <div>{{ billboard.supporting_text}}</div>
                {% endautoescape %}
                    </div>
            {% endifequal %}
        {% endifequal %}
    {% endifequal %}
    </div>
{% endfor %}

          <div id="topics" class="box">

            <div style="position:relative;top:-1px;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">
{% block fronttopics_heading %}

{% for home6 in home6 %}
    {% autoescape off %}
    {{ home6.title }}
    {% endautoescape %}
{% endfor %}

{% endblock %}</div>

            <div style="padding: 0px 5px;">
{% block fronttopics %}

{% for home6 in home6 %}

    {% autoescape off %}
    {{ home6.content }}
    {% endautoescape %}

{% endfor %}

{% endblock %}
              <div class="clear"></div>

            </div>
          </div>
{% endblock %}

{% block body_extra %}<div class="clear"></div>
<table style="width:100%;position:relative;top:-7px;">
<tr>

<td style="width:1%;"></td>

{% for home1 in home1 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{{ home1.title }}</th>
{% endfor %}

<td style="width:2%;"></td>

{% for home2 in home2 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{{ home2.title }}</th>
{% endfor %}

<td style="width:2%;"></td>


<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{% for home3 in home3 %}{{ home3.title }}{% endfor %}
{% for status in status %}
{% autoescape off %}
{{ status.content }}
{% endautoescape %}
{% endfor %}</th>

<td style="width:1%;"></td>

</tr>
<tr>

<td></td>

{% for home1 in home1 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p>{{ home1.content }}</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

{% for home2 in home2 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p>{{ home2.content }}</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

{% for home3 in home3 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p>{{ home3.content }}</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

</tr>
</table>

{% endblock %}

{% block sidebar_status %}
{% for status in status %}
<div>
{% autoescape off %}
<p>{{ status.content }}</p>
{% endautoescape %}
</div>
{% endfor %}
{% endblock %}

{% block home4_height %}
            <div class="padding" style="height:380px;">
{% endblock %}

{% block home4_heading %}
{% for home4 in home4 %}
{% autoescape off %}
{{ home4.title }}
{% endautoescape %}
{% endfor %}
{% endblock %}

{% block home4_text %}
{% for home4 in home4 %}
<div>
{% autoescape off %}
<p>{{ home4.content }}</p>
{% endautoescape %}
</div>
{% endfor %}
{% endblock %}

{% block home5_heading %}
{% for home5 in home5 %}
{% autoescape off %}
{{ home5.title }}
{% endautoescape %}
{% endfor %}
{% endblock %}

{% block home5_text %}
{% for home5 in home5 %}
{% autoescape off %}
{{ home5.content }}
{% endautoescape %}
{% endfor %}
{% endblock %}
