{% extends "base.html" %}

{% load i18n %}

{% block login %}
    {% if user.is_authenticated %}
        <a href="{% url acct_email %}">{% trans "Account" %}</a>
        <span class="separator">&nbsp;</span>
        {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a>
        <span class="separator">&nbsp;</span>{% endif %}
        <a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Log In" %}</a>
        <span class="separator">&nbsp;</span>
        <a href="{% url acct_signup %}">{% trans "Sign up" %}</a>
    {% endif %}
{% endblock %}

{% block logo_link_image %}<div class="project-title">News21</div>{% endblock %}

{% block sec_navigation %}
    {% if user.is_authenticated %}
        <li><a class="navbutton" href="">Search</a></li>
        <li><a class="navbutton" href="{% url profile_list %}">Users</a></li>
    {% endif %}
{% endblock %}

