{% extends "site_base.html" %}

{% block tab_id %}id="topics_tab"{% endblock %}

{% block body %}

{% block main_content %}{% endblock %}

{% endblock %}

{% block subnav %}
<ul>
  <li><a href="{% url topics_topic_list %}">Topics</a></li>
  <li><a href="{% url topics_topic_add %}">Add Topic</a></li>
    <li><a href="{% url topics_topic_image_add %}" title="Submit Topic Image">Submit Topic Image</a></li>
  <li><a href="{% url topics_topic_path_list %}">View Topic Paths</a></li>
  <li><a href="{% url topics_topic_path_add %}">Add Topic Path</a></li>
</ul>
{% endblock %}
