{% extends "site_base.html" %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/promos.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/widget.css" />
{% endblock %}

{% block body_id %}promos{% endblock %}

{% block tab_id %}id="promos_tab"{% endblock %}

{% block body %}
    
    {% block main_content %}{% endblock %}
    
{% endblock body %}

{% block subnav %}
<h2>{% trans "Links" %}</h2>
<ul class="action-links">
        <li><a href="{% url promos_promo_list %}">promo list</a></li>
        <li><a href="{% url promos_promo_add %}">Add promo</a></li>
 </ul>
{% endblock %}
