{% extends 'promos/base.html' %}

{% block title %}Promo Date List{% endblock %}

{% block main_content %}
<h1>{{ promo.headline }}</h1>
<div class="edit-promo-tabs">
    <div class="tab-links">
        <a href="{% url promos_promo_edit promo_id=promo.id %}" rel="promo-info">Properties</a>
        <a href="{% url promos_promo_add_edit_point promo_id=promo.id %}" rel="promo-info" title="Geotag">Geotag</a>
        <a href="{% url promos_promo_image_list promo_id=promo.id %}">Images</a>
        <a href="{% url promos_promo_link_list promo_id=promo.id %">Related Links</a>
        <a href="" class="active">Suggested Dates</a>
        <a href="{% url promos_promo_detail promo_id=promo.id %}">Detail</a>
        <br class="clearboth" />
    </div>
    <div class="tab-contents">
    {% if promo_date %}
    <table cellspacing="0" cellpadding="0" class="list-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        {% for i in promo_date%}
        <tr class="{% cycle '' 'alt-row' %}">
            <td>{{i}}</td>
            <td>{{i.promo_date}}</td>
            <td>{{i.description}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>You haven't submitted any dates yet.</p>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block subnav %}
<h2>Links</h2>
<ul class="action-links">
    <li><a href="{% url promos_promo_list %}">Promo List</a></li>
    <li><a href="{% url promos_promo_date_add promo_id=promo.id%}" title="Add a Date">Add a Date</a></li>
 </ul>
{% endblock %}