{% extends "promos/base.html" %}
{% load i18n %}

{% block head_title %}Delete a Promo Date{% endblock %}


{% block main_content %}
<h1>Delete a Promo Billboard</h1>
<div class="edit-promo-tabs">
    <div class="tab-links">
        <a href="{% url promos_promo_edit promo_id=promo.id %}" rel="promo-info">Pitch</a>
        <a href="#" rel="promo-info" title="Geotag">Geotag</a>
        <a href="{% url promos_promo_image_list promo_id=promo.id %}">Images</a>
        <a href="{% url promos_promo_link_list promo_id=promo.id %}">Related Links</a>
        <a href="{% url promos_promo_date_list promo_id=promo.id %}" class="active">Suggested Dates</a>
        <a href="{% url promos_promo_billboard_list promo_id=promo.id %}">Billboards</a>
        <a href="{% url promos_promo_detail promo_id=promo.id %}">Detail</a>
        <br class="clearboth" />
    </div>
    <div class="tab-contents">
<p>Are you sure you want to delete : {{ date }} ?</p>        
<form action="." method="post">
    <input id="id_submit" type="submit" value="Submit" />
    <a href="../../">Cancel</a>
    </fieldset>
</form>
{% endblock %}

{% block subnav %}
<h2>Links</h2>
  <ul class="action-links">
    <li><a href="{% url promos_promo_list %}">Promo List</a></li>
    <li><a href='{% url promos_promo_billboard_calendar_now promo_id=promo.id %}'>Calendar</a></li>
 </ul>
{% endblock %}
