{% extends 'promos/base.html' %}

{% block title %}Promos List{% endblock %}

{% block main_content %}
<h1>Promos</h1>
{% if promos %}
    <table cellspacing="0" cellpadding="0" class="list-table">
        <thead>
            <tr>
                <th class="id_col">Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for promo in promos %}
        <tr class="{% cycle '' 'alt-row' %}">
                    <td class="id_col">{{ promo.id }}</td>
                    <td><a href="{% url promos_promo_edit promo_id=promo.id %}">{{promo}}</a></td>
                    <td>
                        <a href="{% url promos_promo_detail promo_id=promo.id %}">detail</a>
                    </td>
        </tr>
        {% endfor %}
    </table
{% else %}
    <p>You haven't submitted any promos yet.</p>
{% endif %}

{% endblock %}
