{% extends "promos/base.html" %}
{% load i18n %}

{% block head_title %}Add a Promo Image{% endblock %}


{% block main_content %}
<h1>Add a Promo Image</h1>

<form action="." method="post" enctype="multipart/form-data" >
    <fieldset>
    <table>
    {{ form }}
    </table>
    <input id="id_submit" type="submit" value="Submit" />
    <a href="../">Cancel</a>
    </fieldset>
</form>
{% endblock %}

{% block subnav %}
<h2>{% trans "Links" %}</h2>
<ul class="action-links">
    <li><a href="{% url promos_promo_list %}">promo list</a></li>
    <li><a href="{% url promos_promo_image_add promo_id=promo.id %}" title="Add an image">Add an image</a></li>
    <li><a href="{% url promos_promo_link_add promo_id=promo.id %}" title="Add a link">Add an link </a></li>
    <li><a href="{% url promos_promo_add_edit_point promo_id=promo.id %}" title="Geotag">Geotag</a></li>
 </ul>
{% endblock %}
