{% extends "promos/base.html" %}
{% load i18n %}

{% block head_title %}Add a Promo Image{% endblock %}


{% block main_content %}
<h1>Add a Promo Image</h1>
<div class="edit-promo-tabs">
    <div class="tab-links">
        <a href="{% url promos_promo_edit promo_id=promo.id %}" rel="promo-info">Pitch</a>
        <a href="{% url promos_promo_add_edit_point promo_id=promo.id %}" rel="promo-info" title="Geotag">Geotag</a>
        <a href="{% url promos_promo_image_list promo_id=promo.id %}" class="active">Images</a>
        <a href="{% url promos_promo_link_list promo_id=promo.id %}">Related Links</a>
        <a href="{% url promos_promo_date_list promo_id=promo.id %}">Suggested Dates</a>
        <a href="{% url promos_promo_billboard_list promo_id=promo.id %}">Billboards</a>
        <a href="{% url promos_promo_detail promo_id=promo.id %}">Detail</a>
        <br class="clearboth" />
    </div>
    <div class="tab-contents">
<form action="." method="post" enctype="multipart/form-data" >
    <fieldset>
    <table>
    {{ form }}
    </table>
    <input id="id_submit" type="submit" value="Submit" />
    <a href="../">Cancel</a>
    </fieldset>
</form>
{% endblock %}
    </div>
</div>
{% block subnav %}
<h2>{% trans "Links" %}</h2>
<ul class="action-links">
    <li><a href="{% url promos_promo_list %}">promo list</a></li>
 </ul>
{% endblock %}
