{% extends 'promos/base.html' %}

{% block title %}{{promo}} | Promos{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {% if promo.get_geotags.point %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ google_key }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        var map = new GMap2(document.getElementById('map'));
        map.setMapType(G_PHYSICAL_MAP);
        var point = new GLatLng({{ promo.get_geotags.point.0.point.y }}, {{ promo.get_geotags.point.0.point.x }});
        marker = new GMarker(point);
        map.setCenter(point, 15);
        map.addOverlay(marker);
        });
    </script>
    {% endif %}
{% endblock %}

{% block body_id %}promos{% endblock %}

{% block app_menu %}
<h2>Promos</h2>
<ul>
<li><a href="{% url promos_promo_edit promo.id %}">Edit Promo</a></li>
</ul>
{% endblock %}

{% block subnav %}
<ul>
    <li><a href="{% url promos_promo_image_add promo_id=promo.id %}" title="Submit Promo">Submit Promo Image</a></li>
    <li><a href="{% url promos_promo_link_add promo_id=promo.id %}" title="Submit Promo">Submit Promo Link</a></li>
</ul>
{% endblock %}

{% block main_content %}
<h1>{{promo}}</h1>
{% if promo.get_geotags.point %}
    <div id="map" style="height: 200px; width: 200px; -moz-border-radius: 5px; border: 3px solid #DDD;"></div>
{% endif %}

<p><a href="{{ promo.permalink }}">{{ promo }}</a></p>
<p>
    <div style="float:left;">
{% for i in promo_image%}
    <img src="{{ i.photo.get_thumbnail_url }}">
{% endfor %}
    </div>
{{promo.description}}
<br clear="all">
</p>

<h2>Related Links</h2>
<ul>
{% for link in promo_link %}
    <li><a href="{{ link.url }}">{{ link.title }}</a> {{ link.desc }}</li>
{% endfor %}
</ul>


<h2>Additional Information</h2>
<dl>
<dt>Permalink</dt>
<dd><a href="{{ promo.permalink }}">{{ promo.permalink }}</a></dd>

<dt>Affiliate</dt>
<dd>{{promo.affiliate}}</dd>

<dt>Submitted by</dt>
<dd><a href="{{ promo.submitter.get_absolute_url }}"
    >{{promo.submitter}}</a></dd>

<dt>Authors</dt>
<dd>
{{ promo.authors.all|join:", " }}
</dd>

</dl>

{% endblock %}
