{% extends "promos/base.html" %}

{% block title %}Edit Promo{% endblock %}

{% block subnav %}
<ul>
    <li><a href="{% url promos_promo_image_add promo_id=promo.id %}" title="Submit Promo">Submit Promo Image</a></li>
    <li><a href="{% url promos_promo_link_add promo_id=promo.id %}" title="Submit Promo">Submit Promo Link</a></li>
</ul>
{% endblock %}

{% block main_content %}
<h1>Edit Promo</h1>

<form action="." method="post" enctype="multipart/form-data">
    <fieldset>
    <table>
    {{ form }}
    </table>
    <input id="id_submit" type="submit" value="Submit" />
    <a href="{% url promos_promo_list %}">Cancel</a>
    </fieldset>
</form>
{% endblock %}

