{% extends 'promos/base.html' %}

{% block title %}Submit a Promo{% endblock %}

{# wipe menu on edit screens #}
{% block menu %}{% endblock %}

{% block main_content %}
{% if form.instance %}
<h1>Edit Promo</h1>
{% else %}
<h1>Submit a Promo</h1>
{% endif %}

{% if form.has_errors %}
<p class="errors">Please correct the following error{{ form.error_dict|pluralize }}:</p>
{% endif %}

<p>When affiliates want a story or project syndicated through this site they
should complete this form.  Your data gets saved for the editor to sift
through later and contruct a home page.</p>

<form action="" method="post">
<table>
{{ form }}
</table>
<input type="submit" name="submit" value="Save" />
<a href="{% url promos_promo_list %}">Cancel</a>
</form>
{% endblock %}
