{% extends 'stories/publication/base.html' %}
{% load inlines %}

{% block extra_head %}
    {{ block.super }}
    
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ google_key }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        var map = new GMap2(document.getElementById('map'));
        map.setMapType(G_PHYSICAL_MAP);

        {% if story.get_geotags.point %}
        // Geotag Used
        var point = new GLatLng({{ story.get_geotags.point.0.point.y }}, {{ story.get_geotags.point.0.point.x }});
        marker = new GMarker(point);
        map.setCenter(point, 15);
        GEvent.addListener(marker, 'click', function() {
            marker.openInfoWindowHtml('<strong style="color: #000"> {{ story.headline }}</strong><br /><span style="display: block; line-height: 12px; font-size: 10px; color: #000;">{{ story.summary }}<br /></span>');
            return;
        });
        map.addOverlay(marker);

        {% endif %}
        });
    </script>
{% endblock %}

{% block head_title %}{{ story.headline }}, Page {{page.pagenum }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content_grid %}grid_12{% endblock %}

{% block main_content %}
<h1>{{story.headline}}</h1>
<!-- div id="map" style="height: 200px; width: 200px; -moz-border-radius: 5px; border: 3px solid #DDD;"></div -->
{% process_inlines page.content %}
{% comment %}
{% include 'page_layouts/example_cover.html' %}
{% endcomment %}

{% endblock %}
