body {
    background-color: #fff;
}

#header {
    background-color: #fff;
}
#content {
    background-color: #fff;
}
#menu {
    background-color: #fff;
}
div#navbar {  
    background-color: #8C3;  
    padding: 10px 0;  
}  
div#navbar h2 {
    display: none;
}
div#navbar ul {
    list-style: none;
    display: block;
    margin: 0 10px;
}

div#navbar ul li {
    float: left;
    margin: 0 1.5em;
    font: bold 1em Arial;
}
div#navbar ul li.login {
    float: right;
    margin: 0 1.5em;
}

div.spacer {
    background-color: #8FC73E;
    height: 1em;
}

div#footer {
    background-color: #fff;
    text-align: center;
}

div#footer p {
    margin: 0 1em;
}

