{% extends "base.html" %}

{% block title %}Add a Section{% endblock %}

{% block content %}
<h1>Add a Section</h1>

<form method="post">
{{form.as_p}}
<input type="submit" value="Save"/>
</form>
{% endblock content %}

{% block app_menu %}
<h2>Sections</h2>
<ul>
  <li><a href="/sections/">Section</a></li>
  <li><a href="/sections/add/">Add Section</a></li>
  <li><a href="/sections/path/">View Section Paths</a></li>
  <li><a href="/sections/path/add/">Add Section Path</a></li>
</ul>
{% endblock %}

{% block app_menu %}
<h2>Sections</h2>
<ul>
  <li><a href="/sections/">Section</a></li>
  <li><a href="/sections/add/">Add Section</a></li>
  <li><a href="/sections/path/">View Section Paths</a></li>
  <li><a href="/sections/path/add/">Add Section Path</a></li>
</ul>
{% endblock %}
