{% extends "base.html" %}

{% block title %}{{ section }}{% endblock %}

{% block content %}

<h1>{{ section }}</h1>
<p>{{ section.description }}</p>
<p><a href="/sections/">Return to Sections List</a> | <a href="edit/">Edit Section</a></p>


<h1>Features</h1>
<p>
{% for f in features %}
    <li><a href="{{f.permalink}}">{{f}}</a> {{f.description}} </li>
{% endfor %}
{% for l in feature_link %}
    <li><a href="{{f.id}}">{{f}}</a> 
{% endfor %}
</p>


<h2>Section Paths</h2>
<p>
<ul style="float:left; background-color: #C0C0C0;">
{% for o in section.collection.all %}
    <li><a href="/sections/path/{{o.id}}">{{o}}</a> - <a href="/sections/path/{{o.id}}/edit/">edit</a>
{% endfor %}
</ul>
<span style="margin:10px;"><a href="/sections/path/add/">Add Section Path</a></span>
</p>

{% endblock content %}

{% block app_menu %}
<h2>Sections</h2>
<ul>
  <li><a href="/sections/">Section</a></li>
  <li><a href="/sections/add/">Add Section</a></li>
  <li><a href="/sections/path/">View Section Paths</a></li>
  <li><a href="/sections/path/add/">Add Section Path</a></li>
</ul>
{% endblock %}
