{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}Stories List{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <!--link rel="stylesheet" href="{{ MEDIA_URL }}css/pages.css" //-->
    <link rel="stylesheet" href="{{ MEDIA_URL }}common/page_layouts.css" />
{% endblock %}


{% block body_id %}stories{% endblock %}


{% block body %}

    {% block main_content %}{% endblock %}

    {% block paging_nav %}
    <div class="clear"></div>
    <div id="paging_nav">

        <div id="story-content-{{ page.pagenum }}" class="tab {% if not forloop.first %}hidden{% endif %}">
    {% for page in story.pages %}
            <a href="../{{ page.pagenum }}">{{ page.pagenum }}</a>
    {% endfor %}
        </div>

    </div>
    {% endblock %}

{% endblock %}

{% block subnav %}
<div class="stories-list-link"><a href="{% url stories_story_list %}">« go to stories list</a></div>
{% endblock %}
