
/**
 * Shadow
 */
 
#shadow {
  background: none;
}


/**
 * Footer
 */

#footer {
  height: 48px;
}


/**
 * Bottom
 */

#bottom {
  display: none;
}

/**
 * Header Dropdown Navigation
 */
ul.dropdown ul li { 
    display: inline; width: 100%; 
} 
