{% extends "stories/base.html" %}
{% load formfields %}

{% block head_title %}Edit Story: {{story.headline}}{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url stories_story_list %}">Story List</a></li>
<li><a href="{% url stories_story_pages story.id %}">List Pages</a></li>
</ul>
{% endblock %}

{% block main_content %}

<h1>Edit Story: {{story.headline}}</h1>

{# TODO auto-slugify headline (or customize admin) #}
<form method="post">
<table>
{{ form }}
</table>
<input type="submit" value="Save"/>
</form>

{% endblock main_content %}
