{% extends "stories/base_story.html" %}
{% load formfields i18n %}

{% block properties_css %}active{% endblock %}

{% block tab_contents %}
<div id="story-info" class="tab">
    <form method="post">
    <fieldset class="inlineLabels">
        {{ form.as_p }}
        <div class="form_block">
            <input type="submit" value="Save"/>
        </div>
    </fieldset>
    </form>
</div>


<div id="story-media" class="tab hidden">

    <p>Recent {{media_type|capfirst}} Items</p>
    <ul id="media-items">
        {% for item in story.media.all %}
        <li class="media-item" id="media-item-{{item.id}}"><img src="{{item.get_thumbnail_url}}" />{{item.title}}</li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
