{% extends "stories/base.html" %}
{% load i18n %}
{% block head_title %}Content Overview: {{story.headline}}{% endblock %}


{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/pages.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pages.js"></script>
{% endblock %}


{% block subnav %}
    {{ block.super }}
    <div class="actions-block" id="page-option-blocks">
        <h2>{% trans "Options" %}</h2>
        <ul class="action-links">
            <li><a href="" id="add-story-page" title="{% trans "Add a new page" %}">{% trans "Add a new page" %}</a></li>
            <li><a href="{% url stories_page_templates "page_template" %}?width=750&height=500" class="thickbox">{% trans "Add a template" %}</a></li>
        </ul>
    </div>

    <div class="actions-block" id="page-text-blocks">
        <h2>{% trans "Text blocks" %}</h2>
        <ul class="action-links">
            <li><a href="{% url stories_page_widgets "text_1col" %}" rel="w21-text_1col">{% trans "1 collumn" %}</a></li>
            <li><a href="{% url stories_page_widgets "text_2col" %}" rel="w21-text_2col">{% trans "2 collumns" %}</a></li>
            <li><a href="{% url stories_page_widgets "text_3col" %}" rel="w21-text_3col">{% trans "3 collumns" %}</a></li>
        </ul>
    </div>

    <div class="actions-block" id="page-media-blocks">
        <h2>{% trans "Media" %}</h2>
        <ul class="action-links">
            {% for item in story.media.all %}
            <li><img src="{{ item.get_thumbnail_url }}" /><a href="{% url stories_story_edit_media story.id item.id %}"
            >{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block main_content %}

<h1>{{ story.headline }} <span class="headline-options">(<a href="{% url stories_edit_story story.id %}">edit story info</a> / <a href="{% url stories_story_media story.id %}">manage media</a>)</span></h1>
<div class="edit-story-tabs">
    <div class="tab-links">
        {% for page in story.pages %}
        <a href="" rel="story-content-{{ page.pagenum }}" class="{% if forloop.first %}active{% endif %}">Page {{ page.pagenum }}</a>
        {% endfor %}
        <br class="clearboth" />
    </div>
    <div class="tab-contents clearfix">
    {% for page in story.pages %}
        <div id="story-content-{{ page.pagenum }}" class="tab {% if not forloop.first %}hidden{% endif %}">
            {{ page.content }}
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}
