{% for item in story.relatedcontent_set.all %}
<li id="media-item-{{ item.object.id }}">
    <img src="{{ item.object.get_thumbnail_url }}" />
    <h3>{{ item }} -- {{ item.object.media_type }}</h3>
    <a href="{{ item.object.get_display140_url }}" class="media-item">140px</a> | 
    <a href="{{ item.object.get_display380_url }}" class="media-item">380px</a> | 
    <a href="{{ item.object.get_display600_url }}" class="media-item">600px</a> | 
    <a href="{{ item.object.get_display940_url }}" class="media-item">940px</a> | 
    <a href="{{ item.object.get_original_url }}" class="media-item">Raw</a> 
    <a href="{{ item.object.get_popup_url }}" class="hidden popup-url">Popup</a> 
    <a href="{{ item.object.get_render_url }}" class="hidden render-url">Render</a> 
</li>
{% endfor %}
