{% extends "stories/base.html" %}

{% block title %}Media Inventory for: {{story.headline}}{% endblock %}

{% block app_menu %}

{% if system_media_types %}
<h2>Add Media</h2>
<ul id="story-add-media-menu">
    {% for media_type in system_media_types %}
    <li><a href="{% url stories_story_select_media story.id media_type %}">Add {{media_type}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock app_menu %}

{% block main_content %}
<div id="media-preview-blocks">
{% for media in story.media.all %}
    <div class="media-preview-block" style="width:240px;float:left;border:1px solid">
        <h2>Thumbnail</h2>
        <p>Title: {{media.title}}</p>
        <p>Authors: {{media.authors}}</p>
        <p>Attribution</p>
        <p>Description: {{media.summary}}</p>
        <p style="background:#eee"><b>Quicktag</b><br/>{{media.get_insert_snippet}}</p>
        <p><a href="">Edit</a></p>
    </div>
{% endfor %}    
</div>
<div style="clear:both"/>
{% endblock %}