{% extends "stories/base.html" %}
{% load i18n %}
{% load media_tags %}
{% load inlines %}
{% block head_title %}Content Overview: {{story.headline}}{% endblock %}


{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/pages.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pages.js"></script>
{% endblock %}


{% block subnav %}
    {{ block.super }}
    <div class="actions-block" id="page-option-blocks">
        <h2>{% trans "Options" %}</h2>
        <ul class="action-links">
            <li><a href="" id="add-story-page" title="{% trans "Add a new page" %}">{% trans "Add a new page" %}</a></li>
            <li><a href="{% url stories_page_templates "page_template" %}?width=750&height=500" class="thickbox">{% trans "Add a template" %}</a></li>
        </ul>
    </div>

    <div class="actions-block" id="page-text-blocks">
        <h2>{% trans "Text blocks" %}</h2>
        <ul class="action-links">
            <li><a href="{% url stories_page_text_widgets "text_1col" %}" rel="w21-text_1col">{% trans "1 collumn" %}</a></li>
            <li><a href="{% url stories_page_text_widgets "text_2col" %}" rel="w21-text_2col">{% trans "2 collumns" %}</a></li>
            <li><a href="{% url stories_page_text_widgets "text_3col" %}" rel="w21-text_3col">{% trans "3 collumns" %}</a></li>
        </ul>
    </div>

    <div class="actions-block" id="page-media-blocks">
        <h2>{% trans "Media" %}</h2>
        <ul class="action-links">
            {% for item in story.media.all %}
            <li>
                <a href="{% url stories_page_media_widgets item.id %}">
                    <img src="{{ item.get_thumbnail_url }}" width="30" height="30" />
                    {{ item }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block main_content %}

<h1>{{ story.headline }}</h1>
<div class="edit-story-tabs">
    <div class="tab-links">
        <a href="{% url stories_edit_story story.id %}" rel="story-info" style="color: #888;">Properties</a>
        <a href="{% url stories_story_media story.id %}" rel="story-media" style="color: #888;">Media</a>
        {% for page in story.pages %}
        <a href="" rel="story-content-{{ page.pagenum }}" class="{% if forloop.first %}active{% endif %} page_nav">Page {{ page.pagenum }}</a>
        {% endfor %}
        <br class="clearboth" />
    </div>
    <div class="tab-contents clearfix">
    {% for page in story.pages %}
        <div id="story-content-{{ page.pagenum }}" class="tab {% if not forloop.first %}hidden{% endif %}">
        {% process_inlines page.content %}
        </div>
    {% endfor %}
    </div>
</div>
<div class="story-submit-buttons">
    <button id="story-save-pages">Save all pages</button>
</div>
<div id="story-prepare" class="hidden">

</div>
<div id="widget-options" class="hidden">
    {% include "stories/widgets/includes/widget_media_options.html" %}
    {% include "stories/widgets/includes/widget_text_options.html" %}
</div>
<form id="save-page-form" class="hidden" method="post" action="{% url stories_save_page story.id %}">
    {{ page_formset }}
</form>
{% endblock %}
