{% extends "stories/base_story.html" %}
{% load formfields i18n %}

{% block head_title %} Media for {{ story }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endblock %}

{% block media_css %}active{% endblock %}

{% block tab_contents %}

    <div id="story-media" class="tab">
        <h2>Photos</h2>
        {% for item in story.get_relatedcontent.photo %}
        <div class="media-list-block" id="media-item-{{item.id}}"
                style="width:240px;float:left;border:1px solid">
            <h2>{{item}} :: {{ item.get_child_name }}</h2>
            <p class="media-thumb">
            <img src="{{item.get_child_object.get_thumbnail_url}}" /></p>
            <p>Dimensions: {{ item.get_width }} x {{ item.get_height }}</p>
            <p>Authors: {{ item.authors.all|join:', ' }}</p>
            <p>Attribution: {{item.attribution|truncatewords:30}}</p>
            <p>Summary: {{item.summary|truncatewords:30}}</p>
            <p><a href="{% url stories_story_edit_media story.id item.id %}">Edit</a> |
            <a href="{% url multimedia_preview item.id %}?width={{ item.get_width_with_margin }}&height={{ item.get_height_with_margin }}" class="thickbox">Preview</a> |
            <a href="">Delete</a></p>

        </div>
        {% empty %}
        <div>You haven't uploaded any {{ media_type }} media yet.</div>
        {% endfor %}
    </div>

    <br class="clear" />

{% endblock %}
