{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<h1>Edit Profile</h1>


<form action="." method="post" enctype="multipart/form-data">
    <fieldset>
    <table>
    {{ image_form }}
    <img src="{{ user.profile.mugshot.display.url }}" />
    <p>Don't like your pic?  Change it.</p>
    </table>
    <table>
    <tr><th>Name:</th><td>{{ profile }}</td></tr>
    <tr><th>Email:</th><td>{{ profile.user.email }}</td></tr>
    {{ profile_form }}
    </table>
    <input id="id_submit" type="submit" value="Submit" />
    </fieldset>
</form>

{% endblock %}
