body {
    background-color: #fff;
}

#header {
    background-color: #fff;
}
#content {
    background-color: #fff;
}
#menu {
    background-color: #fff;
}
#navbar {  
    background-color: #8C3;  
    padding: 10px 0;  
}  
#navbar h2 {
    display: none;
}
#navbar ul {
    list-style: none;
    display: block;
    margin: 0 10px;
}

#navbar ul li {
    float: left;
    margin: 0 1.5em;
    font: bold 1em Arial;
}
#navbar ul li.login {
    float: right;
    margin: 0 1.5em;
}

.spacer {
    background-color: #8FC73E;
    height: 1em;
}

#footer {
    background-color: #fff;
    text-align: center;
}

#footer p {
    margin: 0 1em;
}

#tabs_menu ul {
    border-bottom: 1px solid #777;
    margin:0;
    padding:0;
    background-color: #abc;
}
#tabs_menu li {
    display: inline;
    margin: 0;
    padding: .5em;
}
#tabs_menu li a {
    text-decoration: none;
}
body#stories #tabs_menu li.stories {
    background-color: #fff;
}
body#promos #tabs_menu li.promos {
    background-color: #fff;
}
#content ul li.even {
    background-color: #fff;
}
#content ul li.odd {
    background-color: #abc;
}

