{% extends "stories/story_base.html" %}

{% block context_menu %}
<ul id="story-page-list-menu">
    <li><a href="{% url stories_add_story %}">Add Story</a></li>
    <li><a href="">Submit Feature</a></li>
    <li><a href="">Edit Profile</a></li>
    <li><a href="">Create Blog Post</a></li>
</ul>
{% endblock %}

{% block tabs_menu %}
 <a href="">Dashboard</a> | <a href="{% url stories_story_list %}">Stories</a> | <a href="">Features</a>
{% endblock %}    

{% block main_content %}
{% for story in stories %}
<div>
    <a href="{% url stories_story_pages story.id %}">{{story.headline}}</a>
    <br/>
    Pages: {% for page in story.pages %}<a href="{% url stories_edit_page page.id %}">{{page.pagenum}}</a></a>{% endfor %}
    <br/>
    Media: {% for item in story.media.all %}{{item.title}}{% endfor %}
</div>
{% endfor%}
{% endblock main_content%}
