<div id="add-page-template" class="thickwindow">
    <h2>Edit Text Block</h2>
    <form class="text-editor" method="post" action="" onsubmit="return false;">
        <textarea id="textarea-editor"></textarea>
        <div class="lb-options lb-text-options">
            <h3>Display options</h3>
            <p>
                <input type="radio" name="wrap_text" value="" /> Allow this block to wrap around the upper block (if the upper block allows)
            </p>
            <p>
                <input type="radio" name="wrap_text" value="clear" /> Display block full width
            </p>
        </div>
    </form>
    <div id='TB_closeAjaxWindow'>
        <a href="#" id="lb-block-save">Save</a>
        <span style="float: right;">
            <a href='#' id='TB_closeWindowButton'>Click to close</a> or press the Esc Key
        </span>
    </div>
    <br class="clear" />
</div>