{% extends "multimedia/base.html" %}
{% load i18n %}


{% block subnav %}
<h2>{% trans "Add Media" %}</h2>
<ul class="action-links">
    <li><a href="{% url multimedia_add 'video' %}">Add Video</a></li>
    <li><a href="{% url multimedia_add 'photo' %}">Add Photo</a></li>
</ul>
{% endblock %}

{% block main_content %}
    <p>Recent {{media_type|capfirst}} Items</p>
    <ul id="media-items">
        {% if media_items %}
        {% for item in media_items %}
        <li class="media-item" id="media-item-{{item.id}}"><img src="{{item.get_thumbnail_url}}" />{{item.title}}</li>
        {% endfor %}
        {% else %}
        <li>You haven't uploaded any media yet.</li>
        {% endif %}
</ul>
{% endblock %}
