{% extends "stories/base.html" %}
{% load formfields i18n %}

{% block head_title %}Edit Story: {{story.headline}}{% endblock %}


{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/stories.js"></script>
    {{ form.media }}
{% endblock %}

{% block subnav %}
    {{ block.super }}
    <div class="actions-block" id="story-edit-media-actions">
        <h2>{% trans "Add geotag to story" %}</h2>
        <ul class="action-links">
            <li><a href="{% url stories_story_add_edit_point story.id  %}">{% trans "Add Point" %}</a></li>
            <li><a href="#">{% trans "Add Area" %}</a></li>
        </ul>
    </div>
{% endblock %}

{% block main_content %}

<h1>{{ story.headline }} <span class="headline-options">(<a href="{% url stories_story_pages story.id %}">edit story pages</a>)</span></h1>

    {# TODO auto-slugify headline (or customize admin) #}

    <div class="edit-story-tabs">
        <div class="tab-links">
            <a href="" rel="story-info">Properties</a>
            <a href="{% url stories_story_media story.id %}" rel="story-media">Media</a>
            <a href="{% url stories_story_add_edit_point story.id %}" rel="story-media" class="active">Geotag</a>
            <br class="clearboth" />
        </div>
        <div class="tab-contents">

            <div id="story-info" class="tab">
                <form onSubmit="return false;">
                    <input type="text" size="75"  maxlength="75" id="id_address" />
                    <a href="#" onclick="move_to_geocode();">{% trans "Center the map" %}</a>
                </form>
                <br /><br />
                <form method="post">
                <fieldset class="inlineLabels">
                    <div>
                        {{ form }}
                     </div>
                    <div class="form_block">
                        <input type="submit" value="Save"/>
                    </div>
                </fieldset>
                </form>
            </div>


            <div id="story-media" class="tab hidden">

                <p>Recent {{media_type|capfirst}} Items</p>
                <ul id="media-items">
                    {% for item in story.media.all %}
                    <li class="media-item" id="media-item-{{item.id}}"><img src="{{item.get_thumbnail_url}}" />{{item.title}}</li>
                    {% endfor %}
                </ul>

            </div>

            <br class="clear" />

        </div>

    </div>
    <script type="text/javascript">
     function move_to_geocode(){
         geodjango_func = eval('geodjango_' + jQuery('span[id$=_admin_map]').attr('id').split('_')[1])
         address = jQuery("#id_address")[0].value;
         gkey = "{{ google_key }}";
         google_geocoder_query = "http://maps.google.com/maps/geo?q="+address+"&output=json&oe=utf8&sensor=false&key=" + gkey + "&callback=?";
         jQuery.getJSON(google_geocoder_query,
                        function(data){
                         lon = data["Placemark"][0]["Point"]["coordinates"][0];
                         lat = data["Placemark"][0]["Point"]["coordinates"][1];
                         zoom_lvl = 15;
                         console.log(" lon : " + lon +"lat : "+ lat);
                         geocoder_projection = new OpenLayers.Projection("EPSG:4326")
                         lonlat = new OpenLayers.LonLat(lon, lat);
                         lonlat.transform(geocoder_projection,geodjango_func.map.getProjectionObject());

                         if (geodjango_func.is_point) {
                             $("#id_point").text("POINT (" + lonlat.lon + ' ' + lonlat.lat + ")");
                             var wkt = "POINT (" + lonlat.lon + ' ' + lonlat.lat + ")";
                             var admin_geom = geodjango_func.read_wkt(wkt);
                             geodjango_func.layers.vector.addFeatures([admin_geom]);
                         }
                         geodjango_func.map.setCenter(lonlat, zoom_lvl);
                        })


     }

</script>

{% endblock %}
