{% extends 'site_base.html' %} 

{% block head_title %}Schools{% endblock %}

{% block body_id %}topics{% endblock %}

{% block body %}

<h1>Schools</h1>

<p>For 2009, the eight main News21 incubators conducted in-depth cross-disciplinary research on ways America is changing. the below projects are the outcome of that reporting into data, demographics, sociological and historical trends, and more.</p>

<ul>
{% for o in school_list %}
<li class="{% cycle 'even' 'odd' %}"><span style="font-size:120%;"><a href="/schools/{{o.slug}}">{{o}}</a></span><br>
{{o.description}}</li>
{% empty %}
<li>No topics submitted yet.</li>
{% endfor %}
</ul>

{% endblock %}
