#content-data .headline {
    text-align: right;
    color: #ccc;
    font-variant: small-caps;
}
blockquote {
    font-size:2.213em;
    border:0;
    margin: 20px 0;
}
.content {
}
.media {
    position: relative;
}
.media, .headline, blockquote, #paging_nav {
}
.media_caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 120px;
    color: white;
    font-family: san-serif;
}
.media_caption span {
    font: .785em normal italic;
}
.intro, .note {
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 1.234em;
}
.first:first-letter {
    display: block;
    float: left;
    /*border: 1px solid black;*/
    padding: 0;
    margin: 10px;
    font-size: 7.534em;
}
.note {
    margin-top: 200px;
}
