.clear-float-left { clear:both; float: left; }
    .clear-float-left img { margin: 5px 5px 5px 0; }

.clear-float-right { clear:both; float: right; }
    .clear-float-right img { margin: 5px 0 5px 5px; }

.clear-text-center { clear: both; text-align: center; }

.clear { clear: both; }

.widget-block { position: relative; }

.widget-block .widget-options { position: absolute; right: 0px; top: 0px; opacity: 0.9; padding: 3px; background: #EFEFEF; }
.widget-block .widget-options a:hover { text-decoration: underline; }

.widget-options a { padding: 2px 8px 2px 15px; background: url(../images/icons/icon_changelink.gif) no-repeat left 6px;
    text-decoration: none; }
.widget-options a:hover { text-decoration: underline; }
.widget-options a.widget-remove { background-image: url(../images/icons/icon_actionlist-deletelink.gif); color: #CC3D3D }
.widget-options a.widget-move_up { background-image: url(../images/icons/icon_th_descending.png); color: #9cbe62 }
.widget-options a.widget-move_down { background-image: url(../images/icons/icon_th_ascending.png); color: #9cbe62 }



#story-content li:hover { cursor: move; }





#textarea-editor_parent { float: left; }
.text-editor .lb-options { float: left; width: 190px; padding: 0 0 0 10px; }