{% extends 'site_base.html' %}

{% block head_title %}Welcome{% endblock %}

{% block body_id %}front{% endblock %}

{# wipe topics sidebar #}
{% block sidebar_topics %}{% endblock %}


{% block extrahead %}
{% endblock %}



{% block body %}

{% for billboard in billboards %}
    <div class="billboard" id="billboard" title="{{ billboard.image.caption }} : {{ billboard.image.attribution }}">
    {% ifequal billboard.billboard_type '0' %}
        <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'" ONMOUSEOVER="window.status = '{% firstof billboard.link.url billboard.promo.permalink %}';return true;">
            {% autoescape off %}<h1><a href="{% firstof billboard.link.url billboard.promo.permalink %}" style="text-decoration:none;position:relative; left:{{ billboard.headline_position_horizontal }}px; top:{{ billboard.headline_position_vertical }}px;z-index:1;color:{{ billboard.headline_color }};">{{ billboard.headline }}</a></h1>{% endautoescape %}
            {% autoescape off %}
            <p style="position:relative; left:{{billboard.supporting_text_position_horizontal}}px; top:{{billboard.supporting_text_position_vertical}}px;z-index:1;color:{{billboard.supporting_text_color}};width:{{billboard.supporting_text_width}}px;text-align:{{billboard.supporting_text_alignment}};"><strong>{{ billboard.supporting_text}}</strong></p>
            {% endautoescape %}
        </div>
        {% else %}
        {% ifequal billboard.billboard_type '1' %}
                <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'"  title="{{ billboard.image.caption }} : {{ billboard.image.attribution }}">
                </div>
        {% else %}
            {% ifequal billboard.billboard_type '2' %}
                    <div style="background: #5c8eb2 url({{ billboard.image.image.url }});width:700px; height:360px;z-index:0; no-repeat;cursor:pointer;cursor:hand;" OnClick="window.location='{% firstof billboard.link.url billboard.promo.permalink %}'">
                {% autoescape off %}
                    <div>{{ billboard.supporting_text}}</div>
                {% endautoescape %}
                    </div>
            {% endifequal %}
        {% endifequal %}
    {% endifequal %}
    </div>
{% endfor %}

          <div id="topics" class="box">

            <div style="position:relative;top:-1px;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">
{% block fronttopics_heading %}

{% for home6 in home6 %}
    {% autoescape off %}
    {{ home6.title }}
    {% endautoescape %}
{% endfor %}

{% endblock %}</div>

            <div style="padding: 0px 5px;">
{% block fronttopics %}

{% for home6 in home6 %}

    {% autoescape off %}
    {{ home6.content }}
    {% endautoescape %}

{% endfor %}

{% endblock %}
              <div class="clear"></div>

            </div>
          </div>
{% endblock %}

{% block body_extra %}<div class="clear"></div>
<table style="width:100%;position:relative;top:-7px;">
<tr>

<td style="width:1%;"></td>

{% for home1 in home1 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{{ home1.title }}</th>
{% endfor %}

<td style="width:2%;"></td>

{% for home2 in home2 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{{ home2.title }}</th>
{% endfor %}

<td style="width:2%;"></td>

{% for home3 in home3 %}
<th style="width:30%;background-image:url('{{ MEDIA_URL }}themes/esser/images/bgs/news21gradient.gif');background-color:#ED930E;font-size:18px;text-align:left;padding-left:15px;color:white;font-family: helvetica, arial sans-serif;font-weight:300;">{{ home3.title }}</th>
{% endfor %}

<td style="width:1%;"></td>

</tr>
<tr>

<td></td>

{% for home1 in home1 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p>{{ home1.content }}</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

{% for home2 in home2 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p>{{ home2.content }}</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

{% for home3 in home3 %}
<td style="height:200px;vertical-align:top;">
{% autoescape off %}
<p>{{ home3.content }}</p>
{% endautoescape %}
</td>
{% endfor %}

<td></td>

</tr>
</table>

{% endblock %}

{% block sidebar_status %}
{% for status in status %}
<div>
{% autoescape off %}
<p>{{ status.content }}</p>
{% endautoescape %}
</div>
{% endfor %}
{% endblock %}

{% block home4_heading %}
{% for home4 in home4 %}
{% autoescape off %}
{{ home4.title }}
{% endautoescape %}
{% endfor %}
{% endblock %}

{% block home4_text %}
{% for home4 in home4 %}
<div>
{% autoescape off %}
<p>{{ home4.content }}</p>
{% endautoescape %}
</div>
{% endfor %}
{% endblock %}


{% block home5_heading %}
{% for home5 in home5 %}
{% autoescape off %}
{{ home5.title }}
{% endautoescape %}
{% endfor %}
{% endblock %}

{% block home5_text %}
{% for home5 in home5 %}
<div>
{% autoescape off %}
<p>{{ home5.content }}</p>
{% endautoescape %}
</div>
{% endfor %}
{% endblock %}
