{% extends "base.html" %}

{% block title %}Stories List{% endblock %}

{% block body_id %}stories{% endblock %}

{% block content %}
<div id="tabs_menu">
    <ul> 
    {% block tabs_menu %}
     <li class="dashboard"><a href="">Dashboard</a></li>
     <li class="stories"><a href="{% url stories_story_list %}">Stories</a></li>
     <li class="promos"><a href="{% url promos_promo_list %}">Features</a></li>
    {% endblock %}
    </ul>
    
    {% block main_content %}
    {% endblock %}
    
</div>
{% endblock content%}
