{% extends "stories/base.html" %}
{% load formfields %}

{% block title %}Edit Story: {{story.headline}}{% endblock %}

{% block main_content %}
<h1>Edit Story: {{story.headline}}</h1>

{# TODO auto-slugify headline (or customize admin) #}
<form method="post">
{% display_field form.headline %}
{% display_field form.slug %}
{% display_field form.summary %}
<p>TODO: select lead art</p>
{% display_field form.status %}
{% display_field form.authors %}
<input type="submit" value="Save"/>
</form>
{% endblock main_content %}
