{% extends "base.html" %}

{% block title %}Edit Profile Image{% endblock %}

{% block content %}
<h1>Edit Profile Image</h1>
<p>Don't like your pic?  Change it.</p>

<img src="{{ user.profile.mugshot.display.url }}" />

<form action="." method="post" enctype="multipart/form-data">
    <fieldset>
    <table>
    {{ form }}
    </table>
    <input id="id_submit" type="submit" value="Submit" />
    <a href="{% url profiles_profile_detail user.username %}">Cancel</a>
    </fieldset>
</form>

{% endblock %}
