{% extends 'base.html' %}

{% block title %}{{ profile }}{% endblock %}

{% block content %}
<h1>{{ profile }}, {{ profile.affiliate }}</h1>

<h2>
<img src="{{ profile.mugshot.display.url }}" />
{% ifequal user.get_profile profile %}
<a href="{% url profiles_edit_profile_image %}">edit</a>
{% endifequal %}
</h2>

<h2><a href="{{profile.url}}">{{ profile.url }}</a></h2>
<p>{{ profile.bio }}</p>
<p>Phone: {{profile.phone}}</p>
<p>Location: {{ profile.location }}</p>
<p><a href="http://twitter.com/{{profile.twitter_name}}">Twitter</a></p>

{% endblock %}
