{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/dashboard.css" />
{% endblock %}


{% block subnav %}
    {% if user.is_authenticated %}
    <h2>{% trans "Links" %}</h2>
    <ul class="action-links">
        <li><a href="{% url stories_add_story %}" title="Add Story">Add Story</a></li>
        <li><a href="{% url stories_add_story %}" title="Add Story">Add Media</a></li>
    </ul>
    {% else %}
    <h2>{% trans "Learn more" %}</h2>
    <ul class="action-links">
        <li><a href="http://news21.ning.com">Social</a></li>
        <li><a href="http://news21blog.org">Blog</a></li>
        <li><a href="http://code.google.com/p/django-newsroom/">Code</a></li>
    </ul>
    {% endif %}
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
    {% autopaginate object_list 10 %}
    <table cellspacing="0" cellpadding="0" class="list-table">
        <thead>
            <tr>
                <th class="id_col">Campaign</th>
                <th>Headline</th>
                <th>Start date</th>
                <th>Promo headline</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for object in object_list %}
        <tr class="{% cycle '' 'alt-row' %}">
            <td>{{ object.title }}</a> </td>
            <td>{{object.headline}}</td>
            <td>{{object.start_date}}</td>
            <td><a href='{% url  promos_promo_edit promo_id=object.promo.id %}'>{{ object.promo.headline }}</a></td>
            <td><a href="{% url promos_promo_billboard_detail promo_id=billboard.promo_id,billboard_id=billboard.id %}">Preview</a> | <a href="{% url promos_promo_billboard_edit promo_id=billboard.promo_id,billboard_id=billboard.id %}">Edit</a> | <a href="{% url promos_promo_billboard_delete promo_id=billboard.promo_id,billboard_id=billboard.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% paginate %}
    {% else %}
        {% blocktrans %}
            <p><b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a> project intended to provide a starting point for websites. By integrating numerous reusable Django apps to take care of the things that many sites have in common, it lets you focus on what makes your site different.</p>

            <p>This site is a very basic running example of Pinax with most of the features taken out.</p>

            <p>For more information about Pinax, see <a href="http://pinaxproject.com/">http://pinaxproject.com/</a>.
        {% endblocktrans %}

        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>

    {% endif %}

{% endblock %}
