{% extends "site_base.html" %}
{% load i18n %}


{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/dashboard.css" />
{% endblock %}


{% block subnav %}
    {% if user.is_authenticated %}
    <h2>{% trans "Links" %}</h2>
    <ul class="action-links">
        <li><a href="{% url stories_add_story %}" title="Add Story">Add Story</a></li>
        <li><a href="{% url stories_add_story %}" title="Add Story">Add Media</a></li>
    </ul>
    {% else %}
    <h2>{% trans "Learn more" %}</h2>
    <ul class="action-links">
        <li><a href="http://news21.ning.com">Social</a></li>
        <li><a href="http://news21blog.org">Blog</a></li>
        <li><a href="http://code.google.com/p/django-newsroom/">Code</a></li>
    </ul>
    {% endif %}
{% endblock %}


{% block body %}

    {% if user.is_authenticated %}

    {% else %}
        {% blocktrans %}
            <p><b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a> project intended to provide a starting point for websites. By integrating numerous reusable Django apps to take care of the things that many sites have in common, it lets you focus on what makes your site different.</p>

            <p>This site is a very basic running example of Pinax with most of the features taken out.</p>

            <p>For more information about Pinax, see <a href="http://pinaxproject.com/">http://pinaxproject.com/</a>.
        {% endblocktrans %}

        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>

    {% endif %}

{% endblock %}
