{% block main_content %}
<!--div id="map" style="height: 200px; width: 200px; -moz-border-radius: 5px; border: 3px solid #DDD;"></div-->
<style type="text/css">
.headline {
    text-align: right;
    color: #ccc;
    font-variant: small-caps;
}
blockquote {
    font-size:2em;
    border:0;
    margin: 20px 0;
}
.content {
    background-color: #eee;
}
.media {
    position: relative;
}
.media, .headline, blockquote, #paging_nav {
    background-color: #ddd;
}
.media_caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 120px;
    color: white;
    font-family: "san-serif";
}
.media_caption span {
    font: .785em normal italic;
}
.intro, .note {
    background-color: #ccc;
    font-family: "Serif";
    font-size: 1.234em;
}
.first:first-letter {
    display:block;
    float:left;
    border:1px solid black;
    padding:5px;
    margin:4px 5px;
    font-size:73px;
}
.note {
    margin-top: 200px;
}
</style>
            <div class="grid_5 alpha media">
                <div class="photo_inline">
                    <p>380px photo displays here</p>
                    <img src="/site_media/ik_cache/photos/display380/IMG_0433.jpg" style="width:380px" />
                </div>
                <div class="media_caption">
                <h2>media title:
                <span>caption goes here describing the media.</span>
                </h2>
                </div>
            </div>
            <div class="grid_6 omega prefix_1 content">
                <h1 class="headline">headline goes here</h1>
                <blockquote>Quote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra ligula sit amet lectus consectetur porttitor.
                </blockquote>
                <div class="grid_4 alpha intro">
                <p class="first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra ligula sit amet lectus consectetur porttitor. Nulla facilisi. Mauris porta risus id erat dictum scelerisque. Praesent purus diam, molestie sit amet tempus rutrum, euismod ut odio.</p>

                <p>Curabitur hendrerit gravida mi, ac dignissim lectus faucibus non. Pellentesque facilisis sollicitudin dui vel bibendum. Pellentesque ut orci orci. In pulvinar, libero eget scelerisque euismod, turpis metus pellentesque lorem, in interdum lorem magna in dui. Nulla fermentum, est ac tincidunt rhoncus, turpis lacus rutrum diam, at laoreet lorem est in ipsum.</p>
                </div>
                <div class="grid_2 omega note">
                <p>footnote icon or thumbnail links to lightbox</p>
                </div>
            </div>
{% endblock %}
