<!--div id="map" style="height: 200px; width: 200px; -moz-border-radius: 5px; border: 3px solid #DDD;"></div-->
<style type="text/css">
.cover {
    position: relative;
}
.headline {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 525px;
    color: white;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
}
.headline h1 {
    font-size: 5em;
    text-shadow: black 0.042em 0.043em 0.042em; 
    /* drop shadow is currently only supported in safari */
}
.headline h2 {
    margin-right: 50px;
    font-weight: bold;
    font-size: 1.278em;
}
.headline .summary {
    margin-left: 150px;
    margin-right: 50px;
    right: 0;
    font-size: 1.123em;
    font-weight: bold;
}
.media_caption {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 120px;
    color: #888;
    font-family: sans-serif;
}
.media_caption h2 {
}
.media_caption p {
    font: .885em normal italic;
}
</style>
            <div class="grid_12 cover alpha">

                <div class="photo_inline">
                    <p>940px photo displays here</p>
                    <img src="/site_media/ik_cache/photos/display940/IMG_0790_.JPG" style="width:940px" />
                </div>

                <div class="headline">
                    <h1>The Headline Goes Here Really Big</h1>
                    <h2>By Jane Doh and Bob Hogan</h2>
                    <p class="summary">summary goes here Quote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra ligula sit amet lectus consectetur porttitor.</p>
                    </h2>
                </div>

                <div class="media_caption">
                    <h2>media title</h2>
                    <p>photo/media summary goes here describing the media.</p>
                </div>

            </div>
